body{
    background:#f6f6f6;
}
a{
    color:#1a1a1a;
}
.bgw{
    background: #fff;
}
/**/
.btn-primary{
    background-color: #0084ff;
}
.btn-normal{
    min-width: 50px;
}
/**header*/
.aw-top-menu-wrap{
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.aw-top-nav > nav > ul > li > a{
    color:#8590a6;
    font-size: 15px;
}
.aw-top-nav > nav > ul > li > a.active{
    background: #fff;
    color:#444;
    font-weight: unset;
}
.aw-top-nav > nav > ul > li > a:hover, .aw-top-nav > nav > ul > li > a:focus {
    background: rgba(0,0,0,.0001);
    color:#175199;
}
.aw-search-box input{
    border:1px solid #ebebeb;
    background: #f6f6f6;
    width:326px;
}
.aw-search-box #global_search_btns{
    color: #8590a6;
    font-size: 16px;
}
.icon-search{
    font-weight: bold;
    color: #8590a6;
}
.form-control:focus{
    border-color: #535353 !important;
}
.aw-search-box .aw-dropdown{
    width:100%;
}
.oldPwdTip{
    color: #8590a6;
}
.aw-user-nav a.btn{
    background-color: rgba(0,0,0,.0001) !important;
    color:#1a1a1a;
    margin-right: 0;
    min-width: auto;
    padding: 0;
}
.aw-user-nav a.btn:last-child{
    margin-left: 20px;
}
.aw-user-nav a.btn:hover{
    background-color: rgba(0,0,0,.0001) !important;
    color:#8590a6 !important;
}
.aw-publish-btn{
    width:60px;
    float: left;
}
.aw-publish-btn a{
    width:60px;
}
/*content*/
.aw-container-wrap {
    margin-top: 10px;
}
.aw-content-wrap{
    border:0;
    width: 1000px;
    background-color: rgba(0,0,0,.0001);
}
.aw-main-content{
    border-right: 0;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    width:694px;
    margin-right: 10px;
    background: #fff;
}
.aw-nav-tabs{
    padding: 10px 20px 0;
    border-color: #f0f2f7;
}
.aw-nav-tabs > li {
    margin: 0 0 0 20px;
}
.aw-nav-tabs > li > a{
    padding:0;
    line-height: 50px;
}
.aw-nav-tabs > li.active a{
    border-bottom: 2px solid #0084ff;
    line-height: 50px;
}
.aw-nav-tabs > li > a:hover{
    border-bottom: 0;
    color:#8590a6;
}
.aw-nav-tabs h2{
    font-size: 16px;
    top:22px;
    font-family: microsoft jhenghei,sans-serif;
    font-weight: bold;
}
.aw-common-list .aw-item {
    padding: 14px 0 14px 0px;
    border-bottom: 1px solid #f0f2f7;
    border-top:0;
}
.aw-common-list .aw-item:last-child{
    border-bottom:0;
}
.aw-common-list .aw-question-content h4 {
    margin: 0 0 6px;
}
.aw-common-list .aw-question-content h4 a{
    font-size:18px;
    color:#1a1a1a;
    font-weight: 600;
}
.aw-common-list .aw-item.article .markitup-box{
    line-height: 1.7;
    margin-top:8px;
    max-height: 110px;
    font-size: 15px;
    color: #1a1a1a;
}
.aw-common-list .aw-item.article .inline-img{
    width:190px;
    height: 105px;
    max-width: 190px;
    max-height: 105px;
    border-radius: 4px;
}
.aw-common-list .aw-question-content p{
    color: #8590a6;
}
.aw-common-list .aw-question-content > span, .aw-common-list .aw-question-content p span {
    font-size: 14px;
    color: #8590a6;
    margin-left:10px;
}
.aw-common-list .aw-item .aw-question-content .aw-user-name{
    font-size:14px;
    color: #8590a6;
}
.aw-common-list .aw-question-content > span, .aw-common-list .aw-question-content p span i,.aw-common-list .aw-question-content p i{
    color: #8590a6;
    font-size: 14px;
    margin-right: 4px;
}
/*side*/
.aw-side-bar {
    margin-left: 0;
    padding: 0;
    border-left: 0;
    width:296px;
}
.aw-side-bar .aw-mod{
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    padding: 0;
    border-top: 0;
    margin-bottom:10px;
    padding:10px;
    background: #fff;
}
.aw-side-bar .aw-mod:first-child {
    padding-top: 10px;
}
.aw-side-bar .aw-mod .mod-head a{
    color:#999;
}
.aw-side-bar .aw-mod dl {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.aw-side-bar .aw-mod dl:last-child{
    border-bottom:0;
}
.aw-side-bar .aw-mod dt, .aw-side-bar .aw-mod dt img{
    width: 40px;
    height: 40px;
}
.topic-tag .text {
    background-color: rgba(0,0,0,.0001);
    font-size: 13px;
    color: #259;
    height: 24px;
    line-height: 20px;
    border: 1px solid #daecf5;
    padding: 0 10px;
    border-radius: 30px;
}
.topic-tag .text:hover, .topic-tag .text:active, .topic-tag .close:hover, .topic-tag .close:active{
    background-color: #259;
    font-size: 13px;
    color: #fff;
}
.aw-mod dd .topic-tag .text,.aw-item .topic-tag .text{
    border:none;
    font-size: 14px;
    padding: 2px 0px;
}
.aw-mod dd .topic-tag .text:hover,.aw-mod dd .topic-tag .text:active,.aw-mod dd .topic-tag .close:hover,.aw-mod dd .topic-tag .close:active,
.aw-item .topic-tag .text:hover,.aw-item .topic-tag .text:active,.aw-item .topic-tag .text .close:hover,.aw-item .topic-tag .text .close:active{
    background-color: rgba(0,0,0,.0001);
    font-size: 14px;
    color: #259;
    text-decoration: underline;
}
#question_topic_editor .topic-tag .text {
    background-color: rgba(0,132,255,.1);
    font-size: 13px;
    color: #0084ff;
    height: 28px;
    line-height: 28px;
    border: 0;
    padding: 0 12px;
    border-radius: 100px;
}#question_topic_editor .topic-tag .text:hover{
    background-color: rgba(0,132,255,.15);
}
.write{
    height: 100px;
    text-align: center;
    padding-top:30px !important;
}
.write div{
    width:33%;
    float: left;
}
.write div a{
    color: #444;
    font-size: 16px;
}
.write div a:hover{
    color: #175199;
}
.write div a i{
    color:#8590a6;
    font-weight: 600;
}
.w_span{
    color:#8590a6;
    font-size:15px;
}
.write div a:hover .w_span{
    color:#0084ff;
}
.sideAdd{
    margin-bottom:10px;
}
.sideAdd img{
    width:100%;
    border-radius: 2px;
    overflow: hidden;
}
/*article and question*/
.aw-article-list .aw-item h2 a {
    color: #1a1a1a;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}
.aw-article-list .aw-item .mod-body .content-wrap .content .hide-content{
    line-height: 1.7;
    font-size: 15px;
    color: #1a1a1a;
}
.aw-side-bar .aw-mod ul li{
    padding: 5px 0;
}
.aw-side-bar .aw-mod ul li a{
    color:#444;
}
.aw-article-content .aw-question-detail h1,.aw-question-detail .mod-head h1{
    color: #1a1a1a;
    font-weight: 600;
    font-size: 22px;
}
.aw-feed-list .aw-user-name {
    color: #444;
    font-size: 15px;
    font-weight: 600;
}
/*people and topic*/
.common-head h2{
    font-size: 16px;
    font-family: microsoft jhenghei,sans-serif;
    font-weight: bold;
}
.aw-user-detail-box .mod-footer .aw-nav-tabs{
    padding-top:10px;
}
/*column*/
/* nindex.css */
.simpobox{background:none; border:none}
.N-title{width:713px; height:53px; background:#FFF; border:1px solid #efefef; margin-bottom:10px;}
.N-title h2{ line-height:52px; font-size:18px; color:#333; padding-left:20px; float:left;}
.N-title h2 img{ position:relative; top:-3px; margin-right:7px;}
.N-title a{ float:right; display:block; width:96px; height:30px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#59b0ff; text-align:center; line-height:30px; color:#FFF; font-size:14px; position:relative; top:10px; margin-right:10px;}
.N-title a:active, .N-title a:hover{ background:#3999f1}
.N-left{float:left;}
.N-zllist{margin-top:10px;}
.N-zilistbox{width:713px; height:146px; background:#FFF; margin-bottom:10px;}
.N-zilistbox dl{display:block; width:335px; border-right:1px solid #efefef; height:146px; float:left; margin-bottom:0;}
.N-zilistbox dl dt{ display:block; height:146px; float:left; position:relative; padding-top:30px; padding-left:16px;}
.N-zilistbox dl dt img.N-zimg{ display:block; width:79px; height:79px; -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px;}
.N-zilistbox dl dt a img{position:absolute; top:92px; left:40px;}
.N-zilistbox dl dd{ display:block; float:left; padding-top:30px;}
.N-zilistbox dl dd h2{line-height:0.6;}
.N-zilistbox dl dd h2 a{color:#0064b5; font-size:16px;}
.N-zilistbox dl dd p{ display:block; width:200px; line-height:21px; margin-bottom:0;word-break: break-all}
.N-zilistbox dl dd span{display:block; color:#999999; font-size:14px;}
.N-zilistbox dl dd span em{padding-right:10px;}
.N-zilistbox dl dd span i img{position:relative; top:-2px;}
.N-zilistbox ul{ display:block; width:200px;border-right:1px solid #efefef; height:146px; float:left; padding-top:30px;}
.N-zilistbox ul li{display:block; padding-left:40px; height:25px; line-height:25px; font-size:12px; color:#999}
.N-zilistbox ul li b{font-weight:normal; color:#999999; font-size:16px; color:#333; padding-left:10px;}
.N-zilistbox ul li em{font-weight:normal; color:#999999; font-size:12px; color:#333}
.N-zilistbox ol{float:left; padding-top:30px; padding-left:45px;}
.N-zilistbox ol li a{font-size:12px; color:#499ef3;}
.N-zilistbox ol li a img{position:relative; top:-2px; margin-right:8px;}
.N-right{float:right; width:256px;}
.N-zlword{ width:256px; background:#FFF; margin-bottom:10px;}
.N-zlword h2{height:53px; line-height:53px; border-bottom:1px solid #efefef; font-size:18px; color:#333; padding-left:20px;}
.N-zlword ul { padding-left:20px; padding-bottom:20px;}
.N-zlword ul li{display:block; height:40px; line-height:40px;}
.N-zlword ul li a{ font-size:14px; color:#333; padding-left:10px;}
.N-zlword ul li i{ background:#ff0000; font-size:12px; color:#FFF; border-radius:100px; padding:0 5px; font-style:normal; margin-left:10px;}
.N-zlword dl { display:block; height:72px; border-bottom:1px solid #efefef; width:215px; margin:0 auto;  padding-top:8px;}
.N-zlword dl dt{ display:block; width:36px; height:36px; float:left;}
.N-zlword dl dt img{ width:36px;}
.N-zlword dl dd{ float:left;}
.N-zlword dl dd h3{ margin-bottom:0; line-height:0.8;}
.N-zlword dl dd h3 a.njia{ background:#e9e9e9; margin-left:5px;}
.N-zlword dl dd span{ font-size:12px; color:#999}

/* 专栏 */
.N-mytitle{width:713px; height:53px; background:#FFF; border:1px solid #efefef}
.N-mytitle h2{line-height:52px; font-size:18px; color:#333; padding-left:20px; float:left; margin-bottom:0;}
.N-mytitle h2 img{position:relative; top:-3px; margin-right:7px;}
.N-mytitle ul{float:right;}
.N-mytitle ul li{float:left; line-height:52px; padding:0 10px;}

.N-mytitle ul li a{font-size:14px; display:inline-block; color:#999999;}
.N-mytitle ul li.cur a{ border-bottom:2px solid #499ef3; height:50px; line-height:50px;}

.N-mytitle ul li::after{ display:inline-block; height:12px; width:1px; background:#efefef; margin-left:15px; position:relative; top:3px;}

/* 专栏 */
.N-mytitles{width:713px; height:53px; background:#FFF; border:1px solid #efefef}
.N-mytitles h2{line-height:52px; font-size:18px; color:#333; padding-left:20px; float:left; margin-bottom:0;}
.N-mytitles h2 img{position:relative; top:-3px; margin-right:7px;}
.N-mytitles ul{float:right}
.N-mytitles ul li{float:left; line-height:52px; padding:0 10px;}

.N-mytitles ul li a{font-size:14px; display:inline-block; color:#999999;}
.N-mytitles ul li.cur a{ border-bottom:2px solid #499ef3; height:50px; line-height:50px;}

.N-mytitles ul li::after{ display:inline-block; height:12px; width:1px; background:#efefef; margin-left:15px; position:relative; top:3px;}


.N-myzilistbox{width:713px;  margin-bottom:10px;}
.N-myzilistbox dl{display:block; background:#FFF; width:350px;  height:146px; float:left; margin-bottom:10px;}
.N-myzilistbox dl dt{ display:block; height:146px; float:left; position:relative; padding-top:30px; padding-left:16px;}
.N-myzilistbox dl dt img.N-zimg{ display:block; width:79px; height:79px; -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px;}
.N-myzilistbox dl dt a img{position:absolute; top:92px; left:40px;}
.N-myzilistbox dl dd{ display:block; float:left; padding-top:30px;}
.N-myzilistbox dl dd h2{line-height:0.6;}
.N-myzilistbox dl dd h2 a{color:#0064b5; font-size:16px;}
.N-myzilistbox dl dd p{ display:block; width:200px; line-height:21px; margin-bottom:0;}
.N-myzilistbox dl dd span{display:block; color:#999999; font-size:14px; padding-top:3px;}
.N-myzilistbox dl dd span em{padding-right:10px;}
.N-myzilistbox dl dd span i img{position:relative; top:-2px;}
.N-myzilistbox ul{ display:block; width:200px;border-right:1px solid #efefef; height:146px; float:left; padding-top:30px;}
.N-myzilistbox ul li{display:block; padding-left:40px; height:25px; line-height:25px; font-size:12px; color:#999}
.N-myzilistbox ul li b{font-weight:normal; color:#999999; font-size:16px; color:#333; padding-left:10px;}
.N-myzilistbox ul li em{font-weight:normal; color:#999999; font-size:12px; color:#333}
.N-myzilistbox ol{float:left; padding-top:30px; padding-left:45px;}
.N-myzilistbox ol li a{font-size:12px; color:#499ef3;}
.N-myzilistbox ol li a img{position:relative; top:-2px; margin-right:8px;}
.N-myzilistbox dl dd span.spbottom{display:block; color:#999999; font-size:12px; padding-top:5px;}
.N-myzilistbox dl dd span.spbottom em{padding-right:10px;}
.N-myzilistbox dl dd span.spbottom em i{ font-size:14px; color:#333; font-style:normal; padding-left:5px;}
h6.nhref{ display:block; text-align:center; cursor:pointer}
h6.nhref i{ padding-right:5px;}
a.nckmore{float:right; line-height:52px; padding-right:15px; font-size:12px; color:#666666;}
.nzllist{width:713px; margin-bottom: 10px; padding-top:10px;}
.nzllist dl{display:block; width:226px; float:left; height:205px; background:#FFF;}
.nzllist dl dt{display:block; width:226px; height:110px; overflow:hidden}
.nzllist dl dt img{width:226px;}
.nzllist dl dd{}
.nzllist dl dd h2{ display:block; line-height:16px; padding-top:5px; margin-bottom:0;}
.nzllist dl dd h2 a{ font-size:12px; color:#000; line-height:16px;}
.nzllist dl dd b{ font-size:12px; color:#666; display:block; font-weight:normal; padding-top:5px;}
.nzllist dl dd  span{display:block; color:#999999; font-size:12px; padding-top:6px;}
.nzllist dl dd  span em{padding-right:10px;}
.nzllist dl dd  span i img{position:relative; top:-2px;}
.nzllist dl dd  span em.ntime{ float:right}

.N-tjpop{ width:256px; background:#FFF;}
.N-tjpop h2{height:53px; line-height:53px; border:1px solid #efefef; font-size:18px; color:#333; padding-left:20px;}
.N-tjpop h2 img{position:relative; top:-3px; margin-right:7px;}
.N-tjpop ul { padding-left:20px; padding-bottom:20px;}
.N-tjpop ul li{display:block; height:40px; line-height:40px;}
.N-tjpop ul li a{ font-size:14px; color:#333; padding-left:10px;}
.N-tjpop ul li i{ background:#ff0000; font-size:12px; color:#FFF; border-radius:100px; padding:0 5px; font-style:normal; margin-left:10px;}
.N-tjpop dl { display:block; height:62px; border-bottom:1px solid #efefef; width:215px; margin:0 auto;  padding-top:15px;}
.N-tjpop dl dt{ display:block; width:36px; height:36px; float:left;}
.N-tjpop dl dt img{ width:36px;}
.N-tjpop dl dd{ float:left;}
.N-tjpop dl dd h3{ margin-bottom:0; line-height:0.8;}
.N-tjpop dl dd h3 a.njia{ background:#e9e9e9; margin-left:5px;}
.N-tjpop dl dd span{font-size:12px; color:#999}
.N-poplist{background:#FFF;  border:1px solid #efefef;}
.N-popbox{padding:25px 20px; position:relative;  border-bottom:1px solid #efefef}
.N-popbox dl{ margin-bottom:10px}
.N-popbox dl dt{display:block; height:50px; -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px; overflow:hidden; width:100%;}
.N-popbox dl dt img{width:50px; height:50px; -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px; margin-right:10px;}
.N-popbox dl dt a{font-weight:normal; font-size:16px;}
.N-popbox dl dd{display:block; height:30px; padding-top:10px; font-size:13px; margin-left:0; }
.N-popbox ul li{ display:block; height:30px; line-height:30px; font-size:13px; color:#999;}
.N-popbox ul li i{ float:right; font-style:normal; color:#000;}
.N-popbox ul li img{ float:left; position:relative; top:8px; margin-right:5px;}
.one{ background:url(./img/one.png) top right no-repeat #fff;}
.two{ background:url(./img/two.png) top right no-repeat #fff;}
.three{ background:url(./img/three.png) top right no-repeat #fff;}
.N-popbox em{ font-size:18px; color:#FFF; position:absolute; top:5px; right:7px; font-family:Arial, Helvetica, sans-serif}
.N-myzllist{background:#FFF; border:1px solid #efefef}
.N-myzllist dl{display:block; height:196px; padding:18px 20px; width:713px; margin-bottom:0; border-bottom:1px solid #efefef}
.N-myzllist dl dt{display:block; width:240px; height:150px; overflow:hidden; float:left}
.N-myzllist dl dt img{width:240px; height:150px;}
.N-myzllist dl dd{display:block; height:150px; float:left; width:420px;}
.N-myzllist dl dd h2{display:block; height:35px;}
.N-myzllist dl dd h2 a{font-size:20px; color:#000; font-family:"微软雅黑"; font-weight:bold}
.N-myzllist dl dd p{font-size:13px; color:#666666; line-height:24px;}
.N-myzllist dl dd span{display:block;}
.N-myzllist dl dd span em{ padding-right:10px; font-size:12px; color:#999999;}
.N-myzllist dl dd span em img{ margin-right:5px;}
.author{padding: 25px 0 20px; margin-bottom: 20px; background: #fff; border: 1px solid #EBEBEB;}
.author-phone {position:relative; width:116px; height:116px; border-radius:50%; margin:0 auto; box-sizing:border-box;}


.No-myzllist{ background:#FFF; border:1px solid #efefef }
.No-myzllist p{display:block;width:700px;height:35px;line-height:35px;font-size:15px;}
.author-phone p {
    width:116px;
    height:116px;
    margin: 3px;
    border-radius: 50%;
    overflow: hidden;
}
.author-phone img {
    width: 100%;
    height:100%;
}
.author-icon {
    position: absolute;
    top: -5px;
    right: 0px;
    width: 28px;
    height: 28px;
    background: url(./img/columnist-icon-home.png) no-repeat center;
	background-size:28px;
}
.author-name {
    font-weight: bold;
    font-size: 18px;
    color: #333333;
    text-align: center;
    line-height: 20px;
    width: 250px;
    margin: 18px auto 7px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author-profile {
    position: relative;
    width: 250px;
    color: #666666;
    font-size: 13px;
	margin:0;
	padding:0 20px;
    text-align: center;
    word-break: break-all;
}
.author-fav{ display:block; text-align:center; padding-top:15px;}
.author-fav a{ display:inline-block; padding:2px 13px; font-size:12px; margin-left:10px;}
a.active{ background:#499ef3; color:#FFF; }
a.author-sx{ border:1px solid #499ef3; color:#499ef3}

.author-record {
    width: 254px;
    padding: 8px 0;
    margin: 18px auto 0;
    border-top: 1px solid #EBEBEB;
}
.author-record p {
    margin-top: 9px;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
	padding:0 20px;
}
.author-record p img {
    margin-right: 8px;
    vertical-align: middle;
}
.author-record p span {
    font-size: 16px;
}
.rt {
    float: right;
}

.m-hot {
    background: #fff;
    padding: 0 19px;
    border: 1px solid #EBEBEB;
	margin-bottom:20px;
}
.m-hot-tt {
    font-size: 18px;
    line-height: 20px;
    color: #333;
    padding: 24px 0 15px;
}
.m-hot dl dt{ display:block; position:relative; width:216px; height:150px;}
.m-hot dl dt img.m-imgtop{ width:216px; height:150px;}
.m-hot dl dt i{ position:absolute; top:0; left:0;}
.m-hot dl dt h2{ height:35px; position:absolute; bottom:0; width:216px; background:url(./img/apher.png); line-height:35px; color:#FFF; padding:0 10px; margin-bottom:0; padding-bottom:0;}
.m-hot dl dd {padding-left:0; margin:0; padding:10px 0; position:relative}
.m-hot dl dd img{ display:block; width:90px; height:50px; float:left }
.mhottitle{ float:left; display:block; width:125px; padding-left:10px; font-size:14px; color:#000}
.m-hot dl dd a i{ display:block; width:14px; height:14px; font-size:12px; text-align:center; line-height:14px; background:#f9d11a; color:#FFF; position:absolute; left:0; top:10px; z-index:999; font-style:normal;}
.m-hot dl dd a i.mu3{ background:#333;}

.wait-hs{ background:url(./img/dsh.png) 90% center no-repeat #ffffff; background-size:100px;}



/* 申请编辑专栏 */
.simpowenda{width:1100px; border:1px solid #e6e6e6; border-radius:3px; background:#fff; padding-top:20px; margin:0 auto; margin-top:30px;}
.simpowenda h2{display:block; height:40px; line-height:40px; width:1100px; background:url(./img/simpoh3.png) center center no-repeat}
.simpowenda h2 b{ display:block; height:40px; width:110px; margin:0 auto; text-align:center; font-size:20px; color:#333333; font-weight:normal;}
.simpowendabox{ background:#fff;  border-radius:3px; width:1098px;  padding:0 20px;}
.sqtj{ margin:20px; margin-bottom:70px;}
.sqtj h3{ color:#333; font-size:16px; height:30px; line-height:30px;}
.condition_box{ border-bottom:10px solid #499ef3; height:90px; position:relative; z-index:1; }
.condition_box ul{ position:absolute; z-index:2; left:0; bottom:-5px;}
.condition_box ul li{ float:left; padding-bottom:38px;   background: url(./img/li_bg.png) center 53px no-repeat;}
.condition_box ul li span{height:38px; background:#fff; line-height:38px; color:#666; font-size:16px; border:1px dashed #499ef3; padding:0 30px;margin:0 70px; display:inline-block;}
.condition_box i{ color:#297ed7; font-style:normal; margin:0 3px;}
.w_zl p{ padding-left:60px; font-size:16px; line-height:30px;}
.w_zl em{color:#f00; font-style:normal;margin:0 3px;}
.w_zl i{color:#297ed7; font-style:normal; margin:0 3px;}
.zl_form{ margin:0 100px;}
.zl_form dl{ margin-bottom:0;}
.zl_form dl dt{ color:#666; font-size:14px; line-height:40px; font-weight:normal;}
.zl_form dl dd{ margin-left:0;}
.zl_form dl dd span img{ margin-right:5px;}
.zl_form dl dd span.blue{ color:#255797}
.zl_form dl dd span.orange{ color:#fe941b}
.zl_form dl dd span.red{ color:#f00}
.zl_form dl dd input{ border:1px solid #ccc;height:34px;display: block;width: 100%;padding: 6px 12px;font-size: 14px;color: #555;border-radius:4px;}
.zl_form dl dd textarea{border:1px solid #ccc;height:100px;display: block;width: 100%;padding: 6px 12px;font-size: 14px;color: #555;border-radius:4px; max-width:898px;}
.zl_form dl dd a{ margin-right:10px;}
.zl_form dl dd .mod-footer{ text-align:center; margin:30px 0;}
.zl_form dl dd .mod-footer span{ display:block; margin-bottom:30px; text-align:left}
.zl_form dl dd .mod-footer a{ margin-right:0}
.zl_form dl dd .side-bar dl dt{ margin-right:15px;}
.zl_form dl dd .side-bar dl dd{ color:#999}
.zl_form dl dd .side-bar dl dd a{border-radius:4px;}
.zl_form dl dd .side-bar dl dd p{ margin-bottom:20px;}
.s_main{ padding-bottom:50px;}
.s_but .btn-group .btn{width:36px;height:28px;line-height: 20px;padding:0;font-size: 26px;box-shadow: none; border-radius:4px; color:#999}
/* nindex.css */
.columntop{
    background: url(img/patterns.png) 50% no-repeat;
    height: 470px;
    position: relative;
}
.columntop:before{
    background: url(img/c_bg.png) repeat-x;
    background-size: 20px 450px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
.columntop h1{
    background: url(img/c_logo.png) 50% no-repeat;
    background-size: 129px 179px;
    height: 0;
    left: 50%;
    margin: 0 0 0 -65px;
    overflow: hidden;
    padding-top: 179px;
    position: absolute;
    top: 152px;
    width: 129px;
}
.columntop h2{
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .5em;
    line-height: 24px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 350px;
    width: 100%;
}
.ColumnHomeTop-writeButton {
    border-color: #444;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #444;
    height: 38px;
    left: 50%;
    line-height: 26px;
    margin-left: -51px;
    position: absolute;
    top: 413px;
    width: 120px;
}
.ColumnHomeTop-requestButton {
    font-size: 14px;
    left: 50%;
    line-height: 12px;
    margin-left: -36px;
    position: absolute;
    top: 470px;
    color:#11a668;
}
.ColumnHomeTop-requestButton:hover{
    color:#11a668;
}

.columnbottom{
    margin-top: 48px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(img/c_bg.png) repeat-x;
    background-size: 20px 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 134px;
    padding-bottom:30px;
}
.columnbottom h3{
    border: solid #97ffd8;
    border-width: 1px 0;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 14px;
    padding: 26px 0;
    text-align: center;
    white-space: nowrap;
    width: 345px;
}
.ColumnHomeBottom-requestButton {
    border-color: #444;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #444;
    line-height: 24px;
    margin-top: 30px;
    height: 38px;
    width: 120px;
}

.N-all{
    width: 100%;
    padding:0 20px;
}
.N-mytitle,.N-title{
    width: 100%;
    border:0;
    border-bottom:1px solid #e6e6e6;
    height: 52px;
}
.N-mytitle h2{
    font-family: microsoft jhenghei,sans-serif;
    font-weight: bold;
    line-height: 58px
}
.N-mytitle ul li::after{
    background:unset;
}
.N-zllist{
    margin-top:20px;
}
.N-myzilistbox{
    width: 100%;
    text-align: center;
}
.N-myzilistbox dl{
    width:23%;
    height:320px;
    padding:20px;
    overflow: hidden;
    margin: 0 8px 16px 8px;
    -webkit-box-shadow: 0 8px 18px rgba(0,0,0,.06);
    box-shadow: 0 8px 18px rgba(0,0,0,.06);
}
.N-myzilistbox dl dt{
    float:none;
    height: auto;
    padding-top:0;
}
.N-myzilistbox dl dt img.N-zimg {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 100px;
}
.N-myzilistbox dl dt a img {
    position: absolute;
    top: 32px;
    left: 112px;
    width: 20px;
    height: 20px;
}
.N-myzilistbox dl dd{
    float:none;
}
.N-myzilistbox dl dd p{
    width:auto;
    height: 40px;
    line-height: 21px;
    color: grey;
    margin-bottom: 10px;
}
.N-myzilistbox dl dd h2 a{
    color:#1A1A1A;
    font-weight: bold;
}
.N-myzilistbox dl dd span{
    padding-top:8px;
}
.ain{
    display: inline-block;
    width: 90px;
    border: 1px solid #11a668;
    height: 34px;
    line-height: 32px;
    border-radius: 4px;
    margin-top: 15px;
}
.ain a {
    color: #11a668;
}
.N-myzllist{
    border:0;
}
.N-myzllist dl h5{
    line-height: 2;
    font-family: microsoft jhenghei,sans-serif;
    font-weight: bold;
}
.N-myzllist dl h5 a{
    font-size: 16px;
}
.N-myzllist dl {
    display: block;
    height: 210px;
    padding: 20px 0 0 0;
    width: auto;
    margin-bottom: 0;
    border-bottom: 1px solid #efefef;
}
.N-myzllist dl dd {
    display: block;
    height: 120px;
    float: none;
    width: auto;
    margin-left: 180px;
}
.N-myzllist dl dt{
    width: 160px;
    height: 100px;
    overflow: hidden;
    margin-right: 10px;
}
.N-myzllist dl dt img{
    width: 100%;
    height: 100%;
}
.No-myzllist{
    border:0;
}
.ColumnHeader {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(26,26,26,.1);
    box-shadow: 0 1px 3px 0 rgba(26,26,26,.1);
    color: #1a1a1a;
    padding: 20px 0 16px;
}
.ColumnHeader .ColumnHeader-inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 140px;
    position: relative;
    width: 690px;
    margin: 0 auto;
    min-height: 124px;
}
.ColumnHeader .ColumnHeader-Title {
    font-weight: 600;
    font-synthesis: style;
    font-size: 26px;
    line-height: 1.42308;
}
.ColumnHeader .ColumnHeader-Desc {
    margin: 8px 0;
    font-size: 17px;
    line-height: 1.47059;
    color: #444;
}
.ColumnHeader-About{
    color:#8590a6;
    margin-bottom: 10px;
}
.ColumnHeader-About img{
    margin-right:3px;
}
.author-fav {
    display: block;
    text-align: unset;
    padding-top: 5px;
}
.author-fav a.active{
    background: #0084ff;
}
.author-fav a {
    display: inline-block;
    padding: 6px 16px;
    font-size: 14px;
    margin-left: 0;
    border-radius: 4px;
    margin-right: 16px;
    background: #0084ff;
    color:#fff;
}
.author-fav a.author-sx {
    border: 1px solid #499ef3;
    color: #499ef3;
    background: rgba(0,0,0,0);
}
.ColumnHeader .ColumnHeader-Image {
    position: absolute;
    top: 0;
    right: 0;
    width: 124px;
    height: 124px;
    border-radius: 50%;
}
.Column-ArticleList {
    width: 690px;
    margin: 12px auto;
    border-radius: 2px;
    background-color: #fff;
    color: #1a1a1a;
    -webkit-box-shadow: 0 1px 3px 0 rgba(26,26,26,.1);
    box-shadow: 0 1px 3px 0 rgba(26,26,26,.1);
    padding:0 20px;
}
.Column-ArticleList .SectionTitle {
    font-weight: 600;
    font-synthesis: style;
    font-size: 16px;
    line-height: 1.375;
    padding: 13px 20px 13px 0;
    border-bottom: 1px solid #eee;
}
.ArticleItem-Title{
    font-weight: 600;
    font-synthesis: style;
    font-size: 18px;
    line-height: 1.55556;
    margin-top: 16px;
}
.ArticleItem-Title a{
    color:#1a1a1a;
}
.Column-ArticleList .N-myzllist dl dd p{
    font-size: 15px;
    line-height: 1.7;

}
.Column-ArticleList .N-myzllist dl {
    display: block;
    height: 180px;
    padding: 0px 0 0 0;
}
.N-zlword dl dd p{
    margin-top:10px;
}
/*login*/
.aw-login-box .logo {
    width: 151px;
    height: 94px;
    background: url(img/login_logo.png) no-repeat;
}
@media (max-width: 769px){
    .aw-top-nav .icon-bar {
        background-color: #499ef3;
    }
    .aw-top-nav > nav > ul > li > a{
        color:#fff;
    }
    .aw-top-nav > nav > ul > li > a.active{
        background: #4dabff;
        color:#fff;
    }
    .aw-content-wrap{
        width: auto;
    }
    .aw-main-content{
        width: auto;
        margin-right: 0;
    }
    .aw-side-bar{
        display: none;
    }
    .aw-common-list .aw-item.article .inline-img {
        width: 100%;
        height: 66px;
        max-width: 100px;
        max-height: 66px;
        border-radius: 4px;
    }
    .aw-common-list .aw-item.article .markitup-box{
        max-height: unset;
    }
    .N-myzilistbox dl{
        width: 100%;
    }
    .aw-user-detail-box .mod-head img{
        width:50px;
        height: 50px;
    }
    .aw-user-detail-box .mod-head .operate{
        float: unset !important;
    }
    .aw-user-detail-box .mod-body .meta{
        height: auto;
    }
    .aw-user-detail-box .mod-body .meta span{
        width: auto;
        float: unset;
    }
    .aw-user-detail-box .mod-footer .aw-nav-tabs{
        height: auto;
        padding: 0;
    }
}