<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="renderer" content="webkit" />
    <title></title>
    <base href="http://localhost:8088/springboot/" /><!--[if IE]></base><![endif]-->
    <link href="css/azhihu/img/favicon.ico?v=20200516" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/icon.css" />
    <link href="css/default/common.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="css/default/link.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="js/plug_module/style.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="css/azhihu/azhihu.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="js/highlight/styles/tomorrow.css">
    <script type="text/javascript">
        var _EAC7A52D7BE51FAD837670F9E5ED3B70="2b7e9e56bf33a1838a3b4766824b50ae";
        var G_POST_HASH=_EAC7A52D7BE51FAD837670F9E5ED3B70;
        var G_INDEX_SCRIPT = "?/";
        /*var G_SITE_NAME = "WeCenter仿知乎模板";*/
        var G_BASE_URL = "http://localhost:8088/springboot";
        /*var G_STATIC_URL = "http://azhihu.cssroom.com/static";
        var G_UPLOAD_URL = "http://azhihu.cssroom.com/uploads";*/
        var G_USER_ID = "106";
        var G_USER_NAME = "Artls";
        var G_UPLOAD_ENABLE = "N";
        var G_UNREAD_NOTIFICATION = 0;
        var G_NOTIFICATION_INTERVAL = 100000;
        var G_CAN_CREATE_TOPIC = "";
        var G_ADVANCED_EDITOR_ENABLE = "Y";
        var FILE_TYPES = "jpg,jpeg,png,gif,zip,doc,docx,rar,pdf,psd";
        var G_DRAFT_ENABLED = "N";
        var G_PER_PAGE = "10";
        var G_INDEX_PER_PAGE = "20";
        var G_PRIVATEKEY = "pvjxzjmzvewfscft";
        var G_IV = "qvibvaiwgouxwjeu";
        var G_QUICK_PUBLISH_HUMAN_VALID = "0";
        var editor_type="wangeditor";
    </script>
    <script src="js/jquery.2.js?v=20200516" type="text/javascript"></script>
    <script src="js/jquery.form.js?v=20200516" type="text/javascript"></script>
    <script src="js/plug_module/plug-in_module.js?v=20200516" type="text/javascript"></script>
    <script src="js/aws.js?v=20200516" type="text/javascript"></script>
    <script src="js/aw_template.js?v=20200516" type="text/javascript"></script>
    <script src="js/layer/layer.js?v=20200516" type="text/javascript"></script>
    <script src="js/app.js?v=20200516" type="text/javascript"></script>
    <script type="text/javascript" src="js/compatibility.js"></script>
    <script type="text/javascript" src="js/laydate/laydate.js"></script>
    <script type="text/javascript" src="js/slide_captcha/gt.js"></script>
    <script src="js/crypto-js.js"></script>
    <script src="js/highlight/highlight.pack.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <style type="text/css">
        .geetest_radar_tip_content{
            position: initial !important;
        }
    </style>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="js/respond.js"></script>
    <![endif]-->
    <!--头部公共注入钩子-->
    <!--end头部公共注入钩子-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="http://azhihu.cssroom.com/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<div class="aw-top-menu-wrap">
    <div class="container" style="padding-right:0px;">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="http://azhihu.cssroom.com">
                <img src="http://azhihu.cssroom.com/uploads/logo/20200525/logo_(1).png"  height="40">
            </a>
        </div>
        <!-- end logo -->
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button  class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{tb_Article/queryAll}"><i class=""></i> 首页</a>
                    </li>
                    <li>
                        <a th:href="@{tb_Topic/showColumn}"><i class=""></i> 专栏</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- end 导航 -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="tb_Article/queryLike" id="global_search_form" method="post">
                <input class="form-control search-query" type="text" value="" name="like"/>
                <span title="搜索" id="global_search_btns" onClick="$('#global_search_form').submit();">
                    <i class="icon icon-search"></i>
                </span>
            </form>
        </div>
        <!-- end 搜索框 -->
        <!-- 发起 -->
        <!--<div class="aw-publish-btn">
            <a id="header_publish" class="btn-primary" href="http://azhihu.cssroom.com/?/publish/" onclick="AWS.dialog('publish', {'category_enable':'0', 'category_id':'0', 'topic_title':''}); return false;">发起</a>
            <div class="dropdown-list pull-right">
                <ul>
                    <li>
                        <form method="post" action="http://azhihu.cssroom.com/?/publish/">
                            <a onclick="$(this).parents('form').submit();">问题</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>-->
        <!-- end 发起 -->
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            <!--<a href="User/toOneHome" class="aw-user-nav-dropdown"></a>-->
            <img th:alt="${session.user.user_name}" th:src="${session.user.user_photo}" />

            <div class="aw-dropdown dropdown-list pull-right">
                <ul class="aw-dropdown-list">
                    <li class="hidden-xs"><a href="User/toOneHome"><i class="icon icon-draft"></i>
                        个人主页</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/inbox/"><i class="icon icon-inbox"></i> 私信<span class="badge badge-important collapse" id="inbox_unread">0</span></a></li>
                    <li class="hidden-xs"><a href="User/toChangePwd"><i class="icon icon-setting"></i> 设置</a></li>
                    <!-- <li id="changeSkin"><a href="javascript:void(0);"><i class="icon icon-skin"></i> 换肤</a></li> -->
                    <li><a href="L/exit"><i class="icon icon-logout"></i> 退出</a></li>
                </ul>
            </div>
            <!-- <div class="aw-dropdown dropdown-list pull-right" id="skinList" style="left: 100%;top:200%;display: none">
                <ul class="aw-dropdown-list">
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=common"><i class="icon icon-draft"></i> 默认&nbsp;&nbsp;√</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=green"><i class="icon icon-draft"></i> 绿色&nbsp;&nbsp;</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=orange"><i class="icon icon-draft"></i> 橙色&nbsp;&nbsp;</a></li>
                </ul>
            </div> -->
            <!-- end 登陆&注册栏 -->
        </div>
        <!-- end 用户栏 -->

    </div>
</div>

<script>
    $(function () {
        var $changeSkin = $("#changeSkin"), $skinList = $("#skinList");
        $changeSkin.mouseenter(function () {
            $skinList.stop(true,true).show();
        });
        $changeSkin.mouseleave(function (e) {
            $skinList.hide();
        });
        $skinList.mouseover(function () {
            $(this).stop(true,true).show();
        });
        $skinList.mouseleave(function (e) {
            $(this).hide();
        })
    })
</script>
<style type="text/css">
    .bdshare-button-style0-16 a{
        margin: 6px 15px 6px 10px;
    }
    .bd_weixin_popup .bd_weixin_popup_main {
        padding: 10px 10px;
    }
    .mod-body table td{border:1px solid #ddd}
    .bdsharebuttonbox a{
        margin: 6px 6px 6px 0;
    }
    .dashang{
        display: inline-block;
        background: url('http://azhihu.cssroom.com/static/common/longwb_btn.png') no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        overflow: hidden;
        text-indent: -999px;
        width: 62px;
        height: 62px;
        background-position: 0 -100px;
    }
    .dashang:hover{
        background-position: 0 -170px;
    }
    .shangmoney{
        background: url(http://azhihu.cssroom.com/static/common/reward_line.png?v=N4bOikxY) no-repeat center;
        margin-top: 21px;
    }
    .face_reward{
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 50%;
    }
    .fend_app_reward_person{
        width: 30px;
        height: 30px;
        margin: 0 8px;
        float: left;
    }
    .fend_app_reward_persons{
        width: 527px;
        margin: 15px auto;
        margin-bottom: 15px;
        overflow: hidden;
        padding: 0;
        width: 100%;
        height: 50px;
        margin-bottom: 0;
    }
    .ckeditor-html5-video video{
        width: 100%;
    }
</style>

<!--<h4 th:text="${art}"></h4>-->
<!--<h4 th:text="${gambits}"></h4>-->
<!--<h4 th:each="tbComment : ${tbComments}">
    <h4 th:each="a : ${tbComment.tbReplies}">
        <h4 th:text="${a}"></h4>
    </h4>
</h4>-->
<!--<h4 th:each="tbComment : ${tbComments}">
    <h4 th:text="${tbComment}">
    </h4>
</h4>-->
<!--<h4 th:text="${tbComments}">-->

<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content aw-article-content">
                    <!--话题-->
                    <div class="aw-mod aw-topic-bar" id="question_topic_editor" data-type="article" data-id="6">
                        <div class="tag-bar clearfix">

                            <span class="topic-tag" data-id="30" th:each="item : ${gambits}" >
                                <a class="text" th:text="${item.gambit_name}">风险投资</a>
                            </span>

                        </div>
                    </div>

                    <div class="aw-mod aw-question-detail">
                        <div class="mod-head">
                            <h1 th:text="${art[0].TbArticle.article_title}">
                                身边的人是怎么靠生活经验赚钱的？
                            </h1>
                        </div>
                        <div class="mod-body">
                            <div class="content markitup-box">
                                <p th:utext="${art[0].TbArticle.article_content}"></p>

                            </div>
                            <div class="meta clearfix">
                                <div class="aw-article-vote pull-left">
                                    <a href="javascript:;" class="agree" onclick="dz()" ><i class="icon icon-agree"></i>
                                        <b th:text="${art[0].TbArticle.praise_count}" id="b_count">5</b></a>
                                    <!--<a href="javascript:;" class="disagree" onclick="AWS.User.article_vote($(this), 6, -1);">
                                        <i class="icon icon-disagree"></i></a>-->
                                    <script type="text/javascript" th:inline="javascript">
                                        function dz(){
                                            var user_id=[[${session.user.user_id}]];
                                            var article_id=[[${art[0].TbArticle.article_id}]];
                                            var count = $("#b_count").text();
                                            $.ajax({
                                                type:"post",
                                                url:"tb_Article/praiseArticle",
                                                data:{"user_id":user_id,"article_id":article_id},
                                                success:function(date){
                                                    if(date == 1){
                                                        $("#b_count").text(parseInt(count+1));
                                                    }else{
                                                        $("#b_count").text(parseInt(count-1));
                                                    }
                                                }
                                            })
                                        }

                                    </script>
                                </div>
                                <span class="pull-right  more-operate">
                                    <a href="javascript:;" class="text-color-999" data-toggle="modal" data-target="#jbarticle" th:onclick="qwer([[${art[0].TbArticle.article_id}]],[[${art[0].TbArticle.user_id}]])">
                                        <i class="icon icon-report"></i>举报
                                    </a>
                                    <em class="text-color-999" th:text="${art[0].TbArticle.article_date}">2019-05-17</em>
                                </span>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="aw-article-voter">
                                <a href="javascript:;" class="voter" data-toggle="tooltip" data-placement="right" th:each="tbComment : ${tbComments}">
                                    <img th:src="${tbComment.TbUser.user_photo}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 文章评论 -->
                    <div class="aw-mod">
                        <div class="mod-head common-head">
                            <h2><span th:text="${art[0].TbArticle.count}">5</span> 个评论</h2>
                        </div>

                        <div id="div1" th:fragment="div1">
                        <div class="mod-body aw-feed-list" th:each="tbComment : ${tbComments}">
                            <div class="aw-item">
                                <div class="mod-head">
                                    <a class="aw-user-img aw-border-radius-5" th:href="@{User/toElseHome(id=${tbComment.TbUser.user_id})}">
                                        <img th:src="${tbComment.TbUser.user_photo}"/>
                                    </a>
                                    <p>
                                        <a href="javascript:;" th:text="${tbComment.TbUser.user_name}">evz03424</a>
                                    </p>
                                </div>
                                <div class="mod-body">
                                    <div class="markitup-box">
                                        <h4 th:text="${tbComment.comment_content}">abc</h4>
                                    </div>
                                </div>
                                <div class="mod-footer">
                                    <div class="meta">
                                        <span class="pull-right text-color-999" th:text="${tbComment.comment_date}">2019-10-09 14:18</span>
                                        <a class="text-color-999" th:onclick="c_count(this,[[${tbComment.comment_id}]])">
                                            <i class="icon icon-agree"></i>
                                            <span th:text="${tbComment.praise_count}">0</span> 赞
                                        </a>
                                        <script type="text/javascript" th:inline="javascript">
                                            function c_count(a,comment_id){
                                                var count = $(a).children("span").text();
                                                var user_id = [[${session.user.user_id}]];

                                                $.ajax({
                                                    type:"post",
                                                    url:"tb_Article/praiseComment",
                                                    data:{"user_id":user_id,"comment_id":comment_id},
                                                    success:function(date){
                                                        if(date == 1){
                                                            $(a).children("span").text(parseInt(count+1));
                                                        }else{
                                                            $(a).children("span").text(parseInt(count-1));
                                                        }
                                                    }
                                                })
                                            }
                                        </script>

                                        <a class="aw-article-comment text-color-999" th:if="!(${tbComment.tbReplies.isEmpty()})" onclick="if($(this).parent().next().next().css('display')=='none'){$(this).parent().next().hide();$(this).parent().next().next().show(); }else{ $(this).parent().next().next().hide(); }">
                                            <i class="icon icon-comment"></i> 查看回复
                                        </a>

                                        <a class="aw-article-comment text-color-999" onclick="if($(this).parent().next().css('display')=='none'){$(this).parent().next().next().hide(); $(this).parent().next().show();}else{$(this).parent().next().hide()}">
                                            <i class="icon icon-comment"></i> 回复
                                        </a>

                                        <a href="javascript:;" class="text-color-999" data-toggle="modal" data-target="#jbcomment" th:onclick="df([[${tbComment.comment_id}]],[[${tbComment.user_id}]])">
                                            <i class="icon icon-report"></i>举报
                                        </a>
                                    </div>
                                    <div hidden>
                                        <!--回复人id-->
                                        <input type="text" name="user_id" value="1" th:value="${session.user.user_id}" hidden>
                                        <!--回复id-->
                                        <input type="text" name="comment_id" value="" th:value="${tbComment.comment_id}" hidden>
                                        <input type="text" name="article_id" value="" th:value="${tbComment.article_id}" hidden>
                                        <input type="text" name="comment_content" value="">
                                        <input class="btn btn-success" type="button" value="回复" onclick="addreply(this)">

                                        <script type="text/javascript" th:inline="javascript">
                                            function addreply(a){
                                                var user_id = $(a).parent().find("[name='user_id']").val();
                                                var comment_id = $(a).parent().find("[name='comment_id']").val();
                                                var article_id = $(a).parent().find("[name='article_id']").val();
                                                var comment_content = $(a).parent().find("[name='comment_content']").val();

                                                $.ajax({
                                                    type:'post',
                                                    url:'tb_Article/addReply',
                                                    data:{'user_id':user_id,'reply_idto':null,'comment_id':comment_id,'comment_content':comment_content,'article_id':article_id},
                                                    success:function(date){
                                                        /*$(a).parent().find("[name='comment_content']").val('')
                                                        $(a).parent().hide();*/
                                                        $("#div1").html(date);
                                                    }})
                                            }
                                        </script>
                                    </div>
                                    <!--回复框开始-->
                                    <div class="panel panel-default" hidden>
                                        <div class="panel-body">

                                            <div th:each="a : ${tbComment.tbReplies}">
                                                <div class="mod-head">
                                                    <a class="aw-user-img aw-border-radius-5" th:href="@{User/toElseHome(id=${a.TbUser.user_id})}">
                                                        <img th:src="${a.TbUser.user_photo}"/>
                                                    </a>
                                                    <p th:if="${a.tbReplies == null}">
                                                        <a href="javascript:;" th:text="${a.TbUser.user_name}+回复+${tbComment.TbUser.user_name}">evz03424</a>
                                                    </p>
                                                    <p th:if="${a.tbReplies != null}">
                                                        <a href="javascript:;" th:text="${a.TbUser.user_name}+回复+${a.tbReplies.TbUser.user_name}">evz03424</a>
                                                    </p>
                                                </div>
                                                <div class="mod-body">
                                                    <div class="markitup-box">
                                                        <h4 th:text="${a.reply_content}">abc</h4>
                                                    </div>
                                                </div>
                                                <div class="mod-footer">
                                                    <div class="meta">
                                                        <span class="pull-right text-color-999" th:text="${a.reply_date}">2019-10-09 14:18</span>
                                                        <a class="text-color-999" th:onclick="r_count(this,[[${a.reply_id}]])">
                                                            <i class="icon icon-agree"></i>
                                                            <span th:text="${a.praise_count}">0</span> 赞
                                                        </a>
                                                        <script type="text/javascript" th:inline="javascript">
                                                            function r_count(a,reply_id){
                                                                var count = $(a).children("span").text();
                                                                var user_id = [[${session.user.user_id}]];

                                                                $.ajax({
                                                                    type:"post",
                                                                    url:"tb_Article/praiseReply",
                                                                    data:{"user_id":user_id,"reply_id":reply_id},
                                                                    success:function(date){
                                                                        if(date == 1){
                                                                            $(a).children("span").text(parseInt(count+1));
                                                                        }else{
                                                                            $(a).children("span").text(parseInt(count-1));
                                                                        }
                                                                    }
                                                                })
                                                            }
                                                        </script>
                                                        <a class="aw-article-comment text-color-999" id="" onclick="if($(this).parent().next().css('display')=='none'){ $(this).parent().next().show(); }else{ $(this).parent().next().hide(); }">
                                                            <i class="icon icon-comment"></i> 回复
                                                        </a>
                                                        <a href="javascript:;" class="text-color-999" data-toggle="modal" data-target="#jbreply" th:onclick="zx([[${a.reply_id}]],[[${a.user_id}]])">
                                                            <i class="icon icon-report"></i>举报
                                                        </a>
                                                    </div>
                                                    <div hidden>
                                                        <!--回复人id-->
                                                        <input type="text" name="user_id" value="1" th:value="${session.user.user_id}" hidden>
                                                        <!--这条回复id-->
                                                        <input type="text" name="reply_idto" value="" th:value="${a.reply_id}" hidden>
                                                        <!--回复评论id-->
                                                        <input type="text" name="comment_id" value="" th:value="${a.comment_id}" hidden>
                                                        <input type="text" name="article_id" value="" th:value="${tbComment.article_id}" hidden>
                                                        <input type="text" name="comment_content" value="">
                                                        <input class="btn btn-success" type="button" value="回复" onclick="addreply(this)">

                                                        <script type="text/javascript" th:inline="javascript">
                                                            function addreply(a){
                                                                var user_id = $(a).parent().find("[name='user_id']").val();
                                                                var reply_id = $(a).parent().find("[name='reply_idto']").val();
                                                                var comment_id = $(a).parent().find("[name='comment_id']").val();
                                                                var article_id = $(a).parent().find("[name='article_id']").val();
                                                                var comment_content = $(a).parent().find("[name='comment_content']").val();

                                                                $.ajax({
                                                                    type:'post',
                                                                    url:'tb_Article/addReply',
                                                                    data:{'user_id':user_id,'reply_idto':reply_id,'comment_id':comment_id,'comment_content':comment_content,'article_id':article_id},
                                                                    success:function(date){
                                                                        /*$(a).parent().find("[name='comment_content']").val('')
                                                                        $(a).parent().hide();*/
                                                                        $("#div1").html(date);
                                                                    }})
                                                            }
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--结束回复框-->
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- end 文章评论 -->

                    <!--文章举报-->
                    <div class="modal fade" id="jbarticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h1 class="modal-title">请输入举报原因:</h1>
                                </div>
                                <div class="modal-body">
                                    <textarea name="report_content" style="resize:none;width: 100%;height: 200px;"></textarea>
                                    <input type="text" name="qwer" value="" hidden>
                                    <input type="text" name="df" value="" hidden>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" th:onclick="jbart(this)">确定</button>
                                    <script type="text/javascript" th:inline="javascript">
                                        function jbart(a){
                                            var user_id = [[${session.user.user_id}]];
                                            var article_id = $("[name='qwer']").val()
                                            var report_content = $(a).parent().prev().children().val();
                                            var bereport_user_id = $("[name='df']").val();
                                            $.ajax({
                                                type:"post",
                                                url:"tb_Issue/reportArticle",
                                                data:{"article_id":article_id,"user_id":user_id,"report_content":report_content,"bereport_user_id":bereport_user_id},
                                                success:function(date){
                                                    if(date == 1){
                                                        alert("举报成功");
                                                        $(a).parent().prev().children().val("");
                                                    }else{
                                                        alert("不能重复举报");
                                                    }
                                                }
                                            })
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--评论举报-->
                    <div class="modal fade" id="jbcomment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h1 class="modal-title">请输入举报原因:</h1>
                                </div>
                                <div class="modal-body">
                                    <textarea name="report_content" style="resize:none;width: 100%;height: 200px;"></textarea>
                                    <input type="text" name="asdf" value="" hidden>
                                    <input type="text" name="zx" value="" hidden>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" th:onclick="jbcom(this)">确定</button>
                                    <script type="text/javascript" th:inline="javascript">
                                        function jbcom(a){
                                            var user_id = [[${session.user.user_id}]];
                                            var comment_id = $("[name='asdf']").val()
                                            var report_content = $(a).parent().prev().children().val();
                                            var bereport_user_id = $("[name='zx']").val();
                                            $.ajax({
                                                type:"post",
                                                url:"tb_Issue/reportComment",
                                                data:{"comment_id":comment_id,"user_id":user_id,"report_content":report_content,"bereport_user_id":bereport_user_id},
                                                success:function(date){
                                                    if(date == 1){
                                                        alert("举报成功");
                                                        $(a).parent().prev().children().val("");
                                                    }else{
                                                        alert("不能重复举报");
                                                    }
                                                }
                                            })
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--回复举报-->
                    <div class="modal fade" id="jbreply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h1 class="modal-title">请输入举报原因:</h1>
                                </div>
                                <div class="modal-body">
                                    <textarea name="report_content" style="resize:none;width: 100%;height: 200px;"></textarea>
                                    <input type="text" name="zxcv" value="" hidden>
                                    <input type="text" name="qw" value="" hidden>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" th:onclick="jbrep(this)">确定</button>
                                    <script type="text/javascript" th:inline="javascript">
                                        function jbrep(a){
                                            var user_id = [[${session.user.user_id}]];
                                            var reply_id = $("[name='zxcv']").val()
                                            var report_content = $(a).parent().prev().children().val();
                                            var bereport_user_id = $("[name='qw']").val();
                                            $.ajax({
                                                type:"post",
                                                url:"tb_Issue/reportReply",
                                                data:{"reply_id":reply_id,"user_id":user_id,"report_content":report_content,"bereport_user_id":bereport_user_id},
                                                success:function(date){
                                                    if(date == 1){
                                                        alert("举报成功");
                                                        $(a).parent().prev().children().val("");
                                                    }else{
                                                        alert("不能重复举报");
                                                    }
                                                }
                                            })
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript" th:inline="javascript">
                        function qwer(a,u){
                            $("[name='qwer']").val(a);
                            $("[name='df']").val(u);
                        }
                        function df(a,u){
                            $("[name='asdf']").val(a);
                            $("[name='zx']").val(u);
                        }
                        function zx(a,u){
                            $("[name='zxcv']").val(a);
                            $("[name='qw']").val(u);
                        }
                    </script>

                    <!-- 回复编辑器 -->
                    <div class="aw-mod aw-article-replay-box">
                        <a name="answer_form"></a>
                        <form action="tb_Article/addComment" method="post">
                            <input type="text" name="user_id" value="1" th:value="${session.user.user_id}" hidden/>
                            <input type="text" name="article_id" value="" th:value="${art[0].article_id}" hidden/>
                            <div class="mod-head">
                                <a th:href="@{User/toElseHome(id=${session.user.user_id})}" class="aw-user-name">
                                    <img th:src="${session.user.user_photo}"/>
                                </a>
                            </div>
                            <div class="mod-body">
                                <textarea rows="3" name="comment_content" id="comment_editor" class="form-control autosize"
                                          placeholder="写下你的评论..."/></textarea>
                            </div>
                            <div class="mod-footer clearfix">
                                <input type="submit" class="btn btn-normal btn-success pull-right" value="评论">
                            </div>
                        </form>
                    </div>
                    <!-- end 回复编辑器 -->
                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-sm hidden-xs">
                    <!-- 发起人 -->
                    <div class="aw-mod user-detail">
                        <div class="mod-head">
                            <h3>发起人</h3>
                        </div>
                        <div class="mod-body">
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a th:href="@{User/toElseHome(id=${art[0].TbArticle.TbUser.user_id})}">
                                        <img th:src="${art[0].TbArticle.TbUser.user_photo}"/>
                                    </a>
                                </dt>
                                <dd class="pull-left">
                                    <a class="aw-user-name" th:href="@{User/toElseHome(id=${art[0].TbArticle.TbUser.user_id})}" data-id="2" th:text="${art[0].TbArticle.TbUser.user_name}">
                                        豆豆龙
                                    </a>
                                </dd>
                            </dl>
                        </div>
                        <!--<div class="mod-footer clearfix">
                            <div class="aw-topic-bar">
                                <div class="topic-bar clearfix">
                                    <span class="pull-left text-color-999">
                                        擅长话题 : &nbsp;
                                    </span>
                                    <span class="topic-tag">
                                        <a href="http://azhihu.cssroom.com/?/topic/30" class="text"
                                           data-id="30">风险投资</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a href="http://azhihu.cssroom.com/?/topic/28" class="text" data-id="28">决策</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a href="http://azhihu.cssroom.com/?/topic/41" class="text" data-id="41">生活</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a href="http://azhihu.cssroom.com/?/topic/42" class="text" data-id="42">吃饭</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a href="http://azhihu.cssroom.com/?/topic/40" class="text" data-id="40">食物</a>
                                    </span>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <!-- end 发起人 -->

                    <!-- 相关问题 -->
                    <div class="aw-mod aw-text-align-justify question-related-list">
                        <div class="mod-head">
                            <h3>相关问题</h3>
                        </div>
                        <div class="mod-body font-size-12">
                            <ul>
                                <li><a href="http://azhihu.cssroom.com/?/question/8">有哪些不起眼却非常赚钱的行业？</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end 相关问题 -->
                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    $(function(){
        $("#tijiao").click(function(){
            alert($("[name='user_id']").val());
        })
    });

    /*$(function(){
        if([[${com_id}]] != null) {
            $("[name='[[${show}]]']").show();
        }
    })*/

</script>
<!-- DO NOT REMOVE -->
<!--<div id="aw-ajax-box" class="aw-ajax-box"></div>
<div style="display:none;" id="__crond">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/1598669496%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
        });
    </script>
</div>-->
</body>
</html>