<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="renderer" content="webkit" />
    <title></title>
    <base href="http://localhost:8088/springboot/" /><!--[if IE]></base><![endif]-->
    <link href="css/azhihu/img/favicon.ico?v=20200516" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/icon.css" />
    <link href="css/default/common.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="css/default/link.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="js/plug_module/style.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="css/azhihu/azhihu.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="js/highlight/styles/tomorrow.css">
    <script type="text/javascript">
        var _EAC7A52D7BE51FAD837670F9E5ED3B70="2b7e9e56bf33a1838a3b4766824b50ae";
        var G_POST_HASH=_EAC7A52D7BE51FAD837670F9E5ED3B70;
        var G_INDEX_SCRIPT = "?/";
        /*var G_SITE_NAME = "WeCenter仿知乎模板";*/
        var G_BASE_URL = "http://localhost:8088/springboot";
        /*var G_STATIC_URL = "http://azhihu.cssroom.com/static";
        var G_UPLOAD_URL = "http://azhihu.cssroom.com/uploads";*/
        var G_USER_ID = "106";
        var G_USER_NAME = "Artls";
        var G_UPLOAD_ENABLE = "N";
        var G_UNREAD_NOTIFICATION = 0;
        var G_NOTIFICATION_INTERVAL = 100000;
        var G_CAN_CREATE_TOPIC = "";
        var G_ADVANCED_EDITOR_ENABLE = "Y";
        var FILE_TYPES = "jpg,jpeg,png,gif,zip,doc,docx,rar,pdf,psd";
        var G_DRAFT_ENABLED = "N";
        var G_PER_PAGE = "10";
        var G_INDEX_PER_PAGE = "20";
        var G_PRIVATEKEY = "pvjxzjmzvewfscft";
        var G_IV = "qvibvaiwgouxwjeu";
        var G_QUICK_PUBLISH_HUMAN_VALID = "0";
        var editor_type="wangeditor";
    </script>
    <script src="js/jquery.2.js?v=20200516" type="text/javascript"></script>
    <script src="js/jquery.form.js?v=20200516" type="text/javascript"></script>
    <script src="js/plug_module/plug-in_module.js?v=20200516" type="text/javascript"></script>
    <script src="js/aws.js?v=20200516" type="text/javascript"></script>
    <script src="js/aw_template.js?v=20200516" type="text/javascript"></script>
    <script src="js/layer/layer.js?v=20200516" type="text/javascript"></script>
    <script src="js/app.js?v=20200516" type="text/javascript"></script>
    <script type="text/javascript" src="js/compatibility.js"></script>
    <script type="text/javascript" src="js/laydate/laydate.js"></script>
    <script type="text/javascript" src="js/slide_captcha/gt.js"></script>
    <script src="js/crypto-js.js"></script>
    <script src="js/highlight/highlight.pack.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <style type="text/css">
        .geetest_radar_tip_content{
            position: initial !important;
        }
    </style>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="js/respond.js"></script>
    <![endif]-->
    <!--头部公共注入钩子-->
    <!--end头部公共注入钩子-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="http://azhihu.cssroom.com/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript><body>
<div class="aw-top-menu-wrap">
    <div class="container" style="padding-right:0px;">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="http://azhihu.cssroom.com">
                <img src="http://azhihu.cssroom.com/uploads/logo/20200525/logo_(1).png"  height="40">
            </a>
        </div>
        <!-- end logo -->
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button  class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{tb_Article/queryAll}"><i class=""></i> 首页</a>
                    </li>
                    <li>
                        <a><i class=""></i> 专栏</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- end 导航 -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="http://azhihu.cssroom.com/?/search/" id="global_search_form" method="post">
                <label class="oldPwdTip aw-search-query-label" onclick="$(this).hide();$('#aw-search-query').focus();">搜索问题、话题或人...</label> 					<input class="form-control search-query" type="text" value=""  autocomplete="off" name="q" id="aw-search-query" onfocus="hideOldPwdTip('aw-search-query');" onblur="toggleOldPwdTip('aw-search-query',this.value);" />
                <span title="搜索" id="global_search_btns" onClick="$('#global_search_form').submit();"><i class="icon icon-search"></i></span>
                <div class="aw-dropdown">
                    <div class="mod-body">
                        <p class="title">输入关键字进行搜索</p>
                        <ul class="aw-dropdown-list collapse"></ul>
                        <p class="search"><span>搜索:</span><a onClick="$('#global_search_form').submit();"></a></p>
                    </div>
                    <div class="mod-footer">
                        <a href="javascript:;" onClick="$('#header_publish').click();" class="pull-right btn btn-mini btn-success publish">发起问题</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- end 搜索框 -->
        <!-- 发起 -->
        <div class="aw-publish-btn">
            <a id="header_publish" class="btn-primary" href="http://azhihu.cssroom.com/?/publish/" onclick="AWS.dialog('publish', {'category_enable':'0', 'category_id':'0', 'topic_title':''}); return false;">发起</a>
            <div class="dropdown-list pull-right">
                <ul>
                    <li>
                        <form method="post" action="http://azhihu.cssroom.com/?/publish/">
                            <a onclick="$(this).parents('form').submit();">问题</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end 发起 -->
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            <a href="http://azhihu.cssroom.com/?/people/106" class="aw-user-nav-dropdown">
                <img alt="Artls" src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png" />
            </a>
            <div class="aw-dropdown dropdown-list pull-right">
                <ul class="aw-dropdown-list">
                    <li><a href="http://azhihu.cssroom.com/?/inbox/"><i class="icon icon-inbox"></i> 私信<span class="badge badge-important collapse" id="inbox_unread">0</span></a></li>
                    <li class="hidden-xs"><a href="http://azhihu.cssroom.com/?/account/setting/profile/"><i class="icon icon-setting"></i> 设置</a></li>

                    <li><a href="http://azhihu.cssroom.com/?/account/logout/"><i class="icon icon-logout"></i> 退出</a></li>
                </ul>
            </div>

            <!-- end 登陆&注册栏 -->
        </div>
        <!-- end 用户栏 -->

    </div>
</div>

<script>
    $(function () {
        var $changeSkin = $("#changeSkin"), $skinList = $("#skinList");
        $changeSkin.mouseenter(function () {
            $skinList.stop(true,true).show();
        });
        $changeSkin.mouseleave(function (e) {
            $skinList.hide();
        });
        $skinList.mouseover(function () {
            $(this).stop(true,true).show();
        });
        $skinList.mouseleave(function (e) {
            $(this).hide();
        })
    })
</script>
<style type="text/css">
    .bdshare-button-style0-16 a{
        margin: 6px 15px 6px 10px;
    }
    .bd_weixin_popup .bd_weixin_popup_main {
        padding: 10px 10px;
    }
    .mod-body table td{border:1px solid #ddd}
    .bdsharebuttonbox a{
        margin: 6px 6px 6px 0;
    }
    .dashang{
        display: inline-block;
        background: url('http://azhihu.cssroom.com/static/common/longwb_btn.png') no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        overflow: hidden;
        text-indent: -999px;
        width: 62px;
        height: 62px;
        background-position: 0 -100px;
    }
    .dashang:hover{
        background-position: 0 -170px;
    }
    .shangmoney{
        background: url(http://azhihu.cssroom.com/static/common/reward_line.png?v=N4bOikxY) no-repeat center;
        margin-top: 21px;
    }
    .face_reward{
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 50%;
    }
    .fend_app_reward_person{
        width: 30px;
        height: 30px;
        margin: 0 8px;
        float: left;
    }
    .fend_app_reward_persons{
        width: 527px;
        margin: 15px auto;
        margin-bottom: 15px;
        overflow: hidden;
        padding: 0;
        width: 100%;
        height: 50px;
        margin-bottom: 0;
    }
    .ckeditor-html5-video video{
        width: 100%;
    }
</style>

<h4 th:text="${issue}"></h4>
<h4 th:each="a : ${art}">
    <h4 th:text="${a}"></h4>
</h4>

<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content aw-article-content">
                    <!--话题-->
                    <div class="aw-mod aw-topic-bar" id="question_topic_editor" data-type="article" data-id="6">
                        <div class="tag-bar clearfix">

                            <span class="topic-tag" data-id="30">
                                <a class="text">风险投资</a>
                            </span>

                        </div>
                    </div>

                    <div class="aw-mod aw-question-detail">
                        <div class="mod-head">
                            <h1 th:text="${issue[0].TbIssue.issue_title}">
                                身边的人是怎么靠生活经验赚钱的？
                            </h1>
                        </div>
                        <div class="mod-body">
                            <div class="content markitup-box">
                                <p th:text="${issue[0].TbIssue.issue_content}"></p>

                            </div>
                            <div class="meta clearfix">
                                <div class="aw-article-vote pull-left">
                                    <a href="javascript:;" class="agree"
                                       onclick="AWS.User.article_vote($(this), 6, 1);"><i class="icon icon-agree"></i>
                                        <b>5</b></a>
                                    <a href="javascript:;" class="disagree"
                                       onclick="AWS.User.article_vote($(this), 6, -1);"><i
                                            class="icon icon-disagree"></i></a>
                                </div>
                                <span class="pull-right  more-operate">
                                    <a href="javascript:;" onclick="AWS.dialog('favorite', {item_id:6, item_type:'article'});"  class="text-color-999">
                                        <i class="icon icon-favor"></i> 收藏
                                    </a>
                                    <a href="javascript:;" class="text-color-999" onclick="AWS.dialog('report', {item_type:'article', item_id:6,item_reson:''})">
                                        <i class="icon icon-report"></i>举报
                                    </a>
                                    <em class="text-color-999" >2019-05-17</em>
                                </span>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="aw-article-voter">
                                <a href="javascript:;" class="voter" data-toggle="tooltip" data-placement="right">
                                    <img alt="a58523" src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 文章评论 -->
                    <div class="aw-mod">
                        <div class="mod-head common-head">
                            <h2><span th:text="${issue[0].TbIssue.count}">5</span> 个评论</h2>
                        </div>
                        <div id="div1" th:fragment="div1">

                            <div class="mod-body aw-feed-list" th:each="a : ${art}">
                                <div class="aw-item" id="answer_list_11">
                                    <div class="mod-head">
                                        <a class="aw-user-img aw-border-radius-5" href="http://azhihu.cssroom.com/?/people/57">
                                            <img src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png" alt="evz03424"/>
                                        </a>
                                        <p>
                                            <a href="javascript:;" th:text="${a.TbUser.user_name}">evz03424</a>
                                        </p>
                                    </div>
                                    <a class="anchor" name="answer_11"></a>
                                    <div class="mod-body">
                                        <div class="markitup-box">
                                            <h4 th:text="${a.article_content}">abc</h4>
                                        </div>
                                    </div>
                                    <div class="mod-footer">
                                        <div class="meta">
                                            <span class="pull-right text-color-999" th:text="${a.article_date}">2019-10-09 14:18</span>
                                            <a class="text-color-999 ">
                                                <i class="icon icon-agree"></i> 0 赞
                                            </a>
                                            <a class="aw-article-comment text-color-999" th:onclick="showcomm(this,[[${a.article_id}]])">
                                                <i class="icon icon-comment"></i> 查看评论
                                            </a>
                                            <a class="aw-article-comment text-color-999" onclick="if($(this).parent().next().css('display')=='none'){$(this).parent().next().next().hide();$(this).parent().next().show()}else{$(this).parent().next().hide()}">
                                                <i class="icon icon-comment"></i> 回复
                                            </a>
                                            <a href="javascript:;" class="text-color-999">
                                                <i class="icon icon-report"></i>举报
                                            </a>
                                            <script type="text/javascript" th:inline="javascript">
                                                function showcomm(a,id){
                                                    if($(a).parent().next().next().css("display")=="none"){
                                                        $(a).parent().next().hide();
                                                        $(a).parent().next().next().show();
                                                    }else{
                                                        $(a).parent().next().next().hide();
                                                    }
                                                    $.ajax({
                                                        type:"post",
                                                        url:"tb_Issue/showcomm",
                                                        data:{"article_id":id},
                                                        success:function(date){
                                                            $(a).parent().next().next().html(date);
                                                        }
                                                    })
                                                }
                                            </script>
                                        </div>
                                        <div hidden>
                                            <!--回复人id-->
                                            <input type="text" name="user_id" value="1" th:value="${session.user.user_id}" hidden>
                                            <!--回答id-->
                                            <input type="text" name="article_id" value="" th:value="${a.article_id}">
                                            <input type="text" name="comment_content" value="">
                                            <input class="btn btn-success" type="button" value="回复" onclick="addcomm(this)">

                                            <script type="text/javascript" th:inline="javascript">
                                                function addcomm(a){
                                                    var user_id = $(a).parent().find("[name='user_id']").val();
                                                    var article_id = $(a).parent().find("[name='article_id']").val();
                                                    var comment_content = $(a).parent().find("[name='comment_content']").val();

                                                    $.ajax({
                                                        type:'post',
                                                        url:'tb_Issue/addcomm',
                                                        data:{'user_id':user_id,'comment_content':comment_content,'article_id':article_id},
                                                        success:function(date){
                                                            $(a).parent().next().html(date);
                                                            $(a).parent().hide();
                                                        }})
                                                }
                                            </script>
                                        </div>

                                        <div id="div2" th:fragment="div2">
                                            <div th:each="tbComment : ${tbComments}">
                                                <div class="mod-head">
                                                    <a class="aw-user-img aw-border-radius-5" href="http://azhihu.cssroom.com/?/people/57">
                                                        <img src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png" alt="evz03424"/>
                                                    </a>
                                                    <p>
                                                        <a href="javascript:;" th:text="${tbComment.TbUser.user_name}">evz03424</a>
                                                    </p>
                                                </div>
                                                <div class="mod-body">
                                                    <div class="markitup-box">
                                                        <h4 th:text="${tbComment.comment_content}">abc</h4>
                                                    </div>
                                                </div>
                                                <div class="mod-footer">
                                                    <div class="meta">
                                                        <span class="pull-right text-color-999" th:text="${tbComment.comment_date}">2019-10-09 14:18</span>
                                                        <a class="text-color-999">
                                                            <i class="icon icon-agree"></i> 0 赞
                                                        </a>
                                                        <a class="aw-article-comment text-color-999" th:onclick="showReply(this,[[${tbComment.comment_id}]])">
                                                            <i class="icon icon-comment"></i> 查看回复
                                                        </a>
                                                        <a class="aw-article-comment text-color-999" onclick="$(this).parent().next().show()">
                                                            <i class="icon icon-comment"></i> 回复
                                                        </a>
                                                        <a href="javascript:;" class="text-color-999">
                                                            <i class="icon icon-report"></i>举报
                                                        </a>
                                                        <script type="text/javascript" th:inline="javascript">
                                                            function showReply(a,id){
                                                                if($(a).parent().next().css('display')=='none'){

                                                                    $(a).parent().next().show();
                                                                }else{
                                                                    $(a).parent().next().hide();
                                                                }
                                                                $.ajax({
                                                                    type:"post",
                                                                    url:"tb_Issue/showReply",
                                                                    data:{"comment_id":id},
                                                                    success:function(date){
                                                                        $(a).parent().next().html(date);
                                                                    }
                                                                })
                                                            }
                                                        </script>
                                                    </div>

                                                    <div>
                                                        <!--回复人id-->
                                                        <input type="text" name="user_id" value="1" th:value="${session.user.user_id}" hidden>
                                                        <!--回答id-->
                                                        <input type="text" name="article_id" value="">
                                                        <input type="text" name="comment_content" value="">
                                                        <input class="btn btn-success" type="button" value="回复">
                                                        <script type="text/javascript" th:inline="javascript">
                                                        </script>
                                                    </div>

                                                    <div id="div3" th:fragment="div3">
                                                        <div th:each="tbRaply : ${tbReplies}">
                                                            <div class="mod-head">
                                                                <a class="aw-user-img aw-border-radius-5" href="http://azhihu.cssroom.com/?/people/57">
                                                                    <img src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png" alt="evz03424"/>
                                                                </a>
                                                                <p>
                                                                    <a href="javascript:;" th:text="${tbRaply.TbUser.user_name}">evz03424</a>
                                                                </p>
                                                            </div>
                                                            <div class="mod-body">
                                                                <div class="markitup-box">
                                                                    <h4 th:text="${tbRaply.reply_content}">abc</h4>
                                                                </div>
                                                            </div>
                                                            <div class="mod-footer">
                                                                <div class="meta">
                                                                    <span class="pull-right text-color-999" th:text="${tbRaply.reply_date}">2019-10-09 14:18</span>
                                                                    <a class="text-color-999">
                                                                        <i class="icon icon-agree"></i> 0 赞
                                                                    </a>
                                                                    <a class="aw-article-comment text-color-999">
                                                                        <i class="icon icon-comment"></i> 回复
                                                                    </a>
                                                                    <a href="javascript:;" class="text-color-999">
                                                                        <i class="icon icon-report"></i>举报
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- end 文章评论 -->
                    <!-- 回复编辑器 -->
                    <div class="aw-mod aw-article-replay-box">
                        <a name="answer_form"></a>
                        <form action="http://azhihu.cssroom.com/?/article/ajax/save_comment/" onsubmit="return false;"
                              method="post" id="answer_form" onkeydown="if(event.keyCode==13)return false;">
                            <input type="hidden" name="post_hash" value="2b7e9e56bf33a1838a3b4766824b50ae"/>
                            <input type="hidden" name="article_id" value="6"/>
                            <div class="mod-head">
                                <a href="http://azhihu.cssroom.com/?/people/" class="aw-user-name"><img alt="Artls"
                                                                                                        src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png"/></a>
                            </div>
                            <div class="mod-body">
                                <textarea rows="3" name="message" id="comment_editor" class="form-control autosize"
                                          placeholder="写下你的评论..."/></textarea>
                            </div>
                            <div class="mod-footer clearfix">
                                <a href="javascript:;"
                                   onclick="AWS.ajax_post($('#answer_form'), AWS.ajax_processer, 'reply');"
                                   class="btn btn-normal btn-success pull-right btn-submit btn-reply"
                                   id='publish_submit'>回复</a>
                            </div>
                        </form>
                    </div>
                    <!-- end 回复编辑器 -->
                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-sm hidden-xs">
                    <!-- 发起人 -->
                    <div class="aw-mod user-detail">
                        <div class="mod-head">
                            <h3>发起人</h3>
                        </div>
                        <div class="mod-body">
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="javascript:;">
                                        <img alt="豆豆龙" src="http://azhihu.cssroom.com/uploads/avatar/000/00/00/02_avatar_mid.jpg"/>
                                    </a>
                                </dt>
                                <dd class="pull-left">
                                    <a class="aw-user-name" href="http://azhihu.cssroom.com/?/people/2" data-id="2" th:text="${issue[0].TbIssue.TbUser.user_name}">
                                        豆豆龙
                                    </a>

                                    <a class="icon-inverse follow tooltips icon icon-plus "
                                       onclick="AWS.User.follow($(this), 'user', 2);">
                                    </a>
                                </dd>
                            </dl>
                        </div>
                        <div class="mod-footer clearfix">
                            <div class="aw-topic-bar">
                                <div class="topic-bar clearfix">
                                    <span class="pull-left text-color-999">
                                        擅长话题 : &nbsp;
                                    </span>
                                    <span class="topic-tag">
                                        <a href="http://azhihu.cssroom.com/?/topic/30" class="text"
                                           data-id="30">风险投资</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a href="http://azhihu.cssroom.com/?/topic/28" class="text" data-id="28">决策</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a href="http://azhihu.cssroom.com/?/topic/41" class="text" data-id="41">生活</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a href="http://azhihu.cssroom.com/?/topic/42" class="text" data-id="42">吃饭</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a href="http://azhihu.cssroom.com/?/topic/40" class="text" data-id="40">食物</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 发起人 -->

                    <!-- 相关问题 -->
                    <div class="aw-mod aw-text-align-justify question-related-list">
                        <div class="mod-head">
                            <h3>相关问题</h3>
                        </div>
                        <div class="mod-body font-size-12">
                            <ul>
                                <li><a href="http://azhihu.cssroom.com/?/question/8">有哪些不起眼却非常赚钱的行业？</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end 相关问题 -->
                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ANSWER_EDIT_TIME = 30;
    $(document).ready(function () {
        if ($('.aw-article-vote.disabled').length) {
            $('.aw-article-vote.disabled a').attr('onclick', '');
        }
        $('.operate .btn-group').click(function () {
            if ($(this).hasClass('open')) {
                $(this).removeClass('open');
            } else {
                $(this).addClass('open');
            }
        });
        AWS.at_user_lists('#wmd-input');
        AWS.Init.init_article_comment_box($('.aw-article-comment'));
    });
</script>
<!--<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2020, All Rights Reserved</span>
        <span class="hidden-xs">Powered By <a href="http://www.wecenter.com/?copyright" target="blank">WeCenter 3.5.1</a></span>
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?1a4884ec01ab4ea9a8280251bbd1a95d";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </div>
</div>-->

<!-- Escape time: 0.081415891647339 --></body>
</html>