<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="renderer" content="webkit" />
    <title>发现 - WeCenter仿知乎模板</title>
    <meta name="keywords" content="WeCenter3.31仿知乎模板" />
    <meta name="description" content="WeCenter仿知乎模板，支持WeCenter3.31，WeCenter3.32，WeCenter3.33"  />
    <base href="http://localhost:8088/springboot/" /><!--[if IE]></base><![endif]-->
    <link href="css/azhihu/img/favicon.ico?v=20200516" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/icon.css" />
    <link href="css/default/common.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="css/default/link.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="js/plug_module/style.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="css/azhihu/azhihu.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="js/highlight/styles/tomorrow.css">
    <script type="text/javascript">
        var _8636174409F417ACF47725DA9B2BBF64="481014e8501ec9b82c7742dec9eae023";
        var G_POST_HASH=_8636174409F417ACF47725DA9B2BBF64;
        var G_INDEX_SCRIPT = "?/";
        /*var G_SITE_NAME = "WeCenter仿知乎模板";*/
        var G_BASE_URL = "http://localhost:8088/springboot";
        /*var G_STATIC_URL = "http://azhihu.cssroom.com/static";
        var G_UPLOAD_URL = "http://azhihu.cssroom.com/uploads";*/
        var G_USER_ID = "106";
        var G_USER_NAME = "Artls";
        var G_UPLOAD_ENABLE = "N";
        var G_UNREAD_NOTIFICATION = 0;
        var G_NOTIFICATION_INTERVAL = 100000;
        var G_CAN_CREATE_TOPIC = "";
        var G_ADVANCED_EDITOR_ENABLE = "Y";
        var FILE_TYPES = "jpg,jpeg,png,gif,zip,doc,docx,rar,pdf,psd";
        var G_DRAFT_ENABLED = "N";
        var G_PER_PAGE = "10";
        var G_INDEX_PER_PAGE = "20";
        var G_PRIVATEKEY = "pvjxzjmzvewfscft";
        var G_IV = "qvibvaiwgouxwjeu";
        var G_QUICK_PUBLISH_HUMAN_VALID = "0";
        var editor_type="wangeditor";
    </script>
    <script src="js/jquery.2.js?v=20200516" type="text/javascript"></script>
    <script src="js/jquery.form.js?v=20200516" type="text/javascript"></script>
    <script src="js/plug_module/plug-in_module.js?v=20200516" type="text/javascript"></script>
    <script src="js/aws.js?v=20200516" type="text/javascript"></script>
    <script src="js/aw_template.js?v=20200516" type="text/javascript"></script>
    <script src="js/layer/layer.js?v=20200516" type="text/javascript"></script>
    <script src="js/app.js?v=20200516" type="text/javascript"></script>
    <script type="text/javascript" src="js/compatibility.js"></script>
    <script type="text/javascript" src="js/laydate/laydate.js"></script>
    <script type="text/javascript" src="js/slide_captcha/gt.js"></script>
    <script src="js/crypto-js.js"></script>
    <script src="js/highlight/highlight.pack.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre').forEach((block) => {
                hljs.highlightBlock(block);
        });
        });
    </script>
    <style type="text/css">
        .geetest_radar_tip_content{
            position: initial !important;
        }
    </style>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="js/respond.js"></script>
    <![endif]-->
    <!--头部公共注入钩子-->
    <!--end头部公共注入钩子-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="http://azhihu.cssroom.com/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<div class="aw-top-menu-wrap">
    <div class="container" style="padding-right:0px;">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="http://azhihu.cssroom.com">
                <img src="http://azhihu.cssroom.com/uploads/logo/20200525/logo_(1).png"  height="40">
            </a>
        </div>
        <!-- end logo -->
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button  class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{Reception/tb_Article/queryAll}"><i class=""></i> 首页</a>
                    </li>
                    <li>
                        <a th:href="@{Reception/tb_Topic/showColumn}"><i class=""></i> 专栏</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- end 导航 -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="Reception/tb_Article/queryLike" id="global_search_form" method="post">
                <input class="form-control search-query" type="text" value="" name="like"/>
                <span title="搜索" id="global_search_btns" onClick="$('#global_search_form').submit();">
                    <i class="icon icon-search"></i>
                </span>
            </form>
        </div>
        <!-- end 搜索框 -->
        <!-- 发起 -->
        <!--<div class="aw-publish-btn">
            <a id="header_publish" class="btn-primary" href="http://azhihu.cssroom.com/?/publish/" onclick="AWS.dialog('publish', {'category_enable':'0', 'category_id':'0', 'topic_title':''}); return false;">发起</a>
            <div class="dropdown-list pull-right">
                <ul>
                    <li>
                        <form method="post" action="http://azhihu.cssroom.com/?/publish/">
                            <a onclick="$(this).parents('form').submit();">问题</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>-->
        <!-- end 发起 -->
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            <!--<a href="User/toOneHome" class="aw-user-nav-dropdown"></a>-->
            <img th:alt="${session.user.user_name}" th:src="${session.user.user_photo}" />

            <div class="aw-dropdown dropdown-list pull-right">
                <ul class="aw-dropdown-list">
                    <li class="hidden-xs"><a href="Reception/User/toOneHome"><i class="icon icon-draft"></i>
                        个人主页</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/inbox/"><i class="icon icon-inbox"></i> 私信<span class="badge badge-important collapse" id="inbox_unread">0</span></a></li>
                    <li class="hidden-xs"><a href="Reception/User/toChangePwd"><i class="icon icon-setting"></i> 设置</a></li>
                    <!-- <li id="changeSkin"><a href="javascript:void(0);"><i class="icon icon-skin"></i> 换肤</a></li> -->
                    <li><a href="Reception/L/exit"><i class="icon icon-logout"></i> 退出</a></li>
                </ul>
            </div>
            <!-- <div class="aw-dropdown dropdown-list pull-right" id="skinList" style="left: 100%;top:200%;display: none">
                <ul class="aw-dropdown-list">
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=common"><i class="icon icon-draft"></i> 默认&nbsp;&nbsp;√</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=green"><i class="icon icon-draft"></i> 绿色&nbsp;&nbsp;</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=orange"><i class="icon icon-draft"></i> 橙色&nbsp;&nbsp;</a></li>
                </ul>
            </div> -->
            <!-- end 登陆&注册栏 -->
        </div>
        <!-- end 用户栏 -->

    </div>
</div>

<script>
    $(function () {
        var $changeSkin = $("#changeSkin"), $skinList = $("#skinList");
        $changeSkin.mouseenter(function () {
            $skinList.stop(true,true).show();
        });
        $changeSkin.mouseleave(function (e) {
            $skinList.hide();
        });
        $skinList.mouseover(function () {
            $(this).stop(true,true).show();
        });
        $skinList.mouseleave(function (e) {
            $(this).hide();
        })
    })
</script>
<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="aw-main-content pull-left">
                    <!-- 新消息通知 -->
                    <div class="aw-mod aw-notification-box collapse" id="index_notification">
                        <div class="mod-head common-head">
                            <h2>
                                <span class="pull-right"><a href="http://azhihu.cssroom.com/?/account/setting/privacy/#notifications" class="text-color-999"><i class="icon icon-setting"></i> 通知设置</a></span>
                                <i class="icon icon-bell"></i>新通知<em class="badge badge-important" name="notification_unread_num">0</em>
                            </h2>
                        </div>
                        <div class="mod-body">
                            <ul id="notification_list"></ul>
                        </div>
                        <div class="mod-footer clearfix">
                            <a href="javascript:;" onclick="AWS.Message.read_notification(false, 0, false);" class="pull-left btn btn-mini btn-gray">我知道了</a>
                            <a href="http://azhihu.cssroom.com/?/notifications/" class="pull-right btn btn-mini btn-success">查看所有</a>
                        </div>
                    </div>
                    <!-- end 新消息通知 -->
                    <!-- tab切换 -->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li><a th:href="@{Reception/tb_issuser/queryIssueUser(user_id=${session.user.user_id})}">等待回复</a></li>
                        <li class="active"><a href="java:script:(0)">问题</a></li>
                        <li><a th:href="@{Reception/tb_gambit/queryAll}">话题</a></li>
                        <li><a th:href="@{Reception/tb_Article/queryAll}">文章</a></li>
                        <h2 class="hidden-xs">主页·发现</h2>
                    </ul>

                    <!-- end tab切换 -->

                    <!-- 自定义tab切换 -->
                    <div class="aw-tabs">
                        <ul>
                            <li class="active"><a href="javascript:;">最新</a></li>
                            <li><a th:href="@{Reception/tb_Issue/queryhot}">热门</a></li>
                        </ul>
                    </div>
                    <!-- end 自定义tab切换 -->

                    <!--<h4 th:each="a : ${iss.list}">
                        <h4 th:text="${a}"></h4>
                    </h4>-->
                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list" th:each="item : ${iss.list}">
                                <!--提问-->
                                <div class="aw-item article" data-topic-id="30,2,3,">
                                    <div class="aw-question-content">
                                        <h4>
                                            <a th:href="@{Reception/tb_Issue/addcount(id=${item.TbIssue.issue_id})}" th:text="${item.TbIssue.issue_title}">身边的人是怎么靠生活经验赚钱的？</a>
                                        </h4>
                                            <p>
                                                <a href="java:script:(0)" class="aw-user-name" th:text="${item.TbIssue.TbUser.user_name}">
                                                    <i class="icon icon-user"></i>豆豆龙
                                                </a>
                                                发表了文章
                                                <span><i class="icon icon-comment"></i><span th:text="${item.TbIssue.count}">4</span> 个回答</span>
                                                <span><i class="icon icon-preview"></i><span th:text="${item.TbIssue.issue_count}">766</span> 次浏览</span>
                                                <span><i class="icon icon-date"></i><span th:text="${item.TbIssue.issue_date}">2019-05-17 14:56</span></span>
                                                <span class="text-color-999 related-topic collapse"> 来自相关话题</span>
                                            </p>

                                            <!-- 文章内容调用    onclick="window.location.href='article/6'"-->
                                            <div class="markitup-box" style="cursor: pointer;">
                                                <div class="img pull-right"></div>
                                            </div>
                                            <div class="collapse all-content" th:utext="${item.TbIssue.issue_content}">

                                            </div>
                                            <!-- end 文章内容调用 -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="page-control">
                                <ul class="pagination pull-right">
                                    <li th:if="${iss.isLastPage}">
                                        <a th:href="@{Reception/tb_Issue/queryAll(pageNum=${iss.navigateFirstPage},pageSize=${iss.pageSize})}">首页</a>
                                    </li>
                                    <li th:if="${iss.prePage}">
                                        <a th:href="@{Reception/tb_Issue/queryAll(pageNum=${iss.pageNum-1},pageSize=${iss.pageSize})}">上一页</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" th:text="${iss.pageNum}">2</a>
                                    </li>
                                    <li th:if="${iss.nextPage}">
                                        <a th:href="@{Reception/tb_Issue/queryAll(pageNum=${iss.pageNum+1},pageSize=${iss.pageSize})}">下一页</a>
                                    </li>
                                    <li th:if="${iss.isFirstPage}">
                                        <a th:href="@{Reception/tb_Issue/queryAll(pageNum=${iss.navigateLastPage},pageSize=${iss.pageSize})}">尾页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="aw-side-bar pull-left">
                    <!--侧边栏插件-->
                    <div class="aw-mod write">
                        <div>
                            <a th:href="@{Reception/tb_Topic/showColumn}">
                                <img src="http://azhihu.cssroom.com/static/css/azhihu/img/zlico.png"></br>
                                <span class="w_span">专栏</span>
                            </a>
                        </div>
                        <!--<div>
                            <a th:href="@{tb_Issue/w_i}">
                                <i class="icon icon-ask"></i></br>
                                <span>写问题</span>
                            </a>
                        </div>-->
                        <div>
                            <a data-toggle="modal" data-target="#adiss">
                                <img src="http://azhihu.cssroom.com/static/css/azhihu/img/wtico.png"></br>
                                <span class="w_span">问题</span>
                            </a>
                        </div>

                        <div>
                            <a th:href="@{Reception/tb_Article/w_a}">
                                <img src="http://azhihu.cssroom.com/static/css/azhihu/img/wzico.png"></br>
                                <span class="w_span">文章</span>
                            </a>
                        </div>
                    </div>
                    <!--<div class="aw-mod write">
                        <div>
                            <a th:href="@{tb_Topic/showColumn}">
                                <img src="http://azhihu.cssroom.com/static/css/azhihu/img/zlico.png"></br>
                                <span class="w_span">专栏</span>
                            </a>
                        </div>
                        <div>
                            <a th:href="@{tb_Issue/w_i}">
                                <img src="http://azhihu.cssroom.com/static/css/azhihu/img/wtico.png"></br>
                                <span class="w_span">问题</span>
                            </a>
                        </div>
                        <div>
                            <a th:href="@{tb_Article/w_a}">
                                <img src="http://azhihu.cssroom.com/static/css/azhihu/img/wzico.png"></br>
                                <span class="w_span">文章</span>
                            </a>
                        </div>
                    </div>-->
                    <div class="sideAdd">
                        <a href="#">
                            <img src="http://azhihu.cssroom.com/static/css/azhihu/img/side_add.jpg" alt="">
                        </a>
                    </div>
                    <!--<div class="aw-mod aw-text-align-justify">
                        <div class="mod-body">

                        </div>
                    </div>-->
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">

                            <h3>热门用户</h3>
                        </div>
                        <div class="mod-body">

                            <dl th:each="a : ${query}">
                                <dt class="pull-left aw-border-radius-5">
                                    <a th:href="@{Reception/User/toElseHome(id=${a.user_id})}"><img th:src="${a.user_photo}"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <a th:href="@{Reception/User/toElseHome(id=${a.user_id})}" data-id="104" class="aw-user-name">[[${a.user_name}]]						</a>
                                    <p class="signature"></p>
                                </dd>
                            </dl>

                        </div>
                    </div>
                </div>
                <!-- 侧边栏end -->
                <!--添加问题-->
                <div class="modal fade" id="adiss" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <form action="Reception/tb_Issue/insertIssue" method="post" id="addissues">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h1 class="modal-title">发布问题:</h1>
                                </div>
                                <div class="modal-body">
                                    <input type="text" name="user_id" value="" th:value="${session.user.user_id}" hidden>

                                    <input type="text" style="width: 100%" name="issue_title" value="">
                                    <textarea name="issue_content" style="resize:none;width: 100%;height: 200px;"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" onclick="$('#addissues').submit()">确定</button>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2020, All Rights Reserved</span>
        <span class="hidden-xs">Powered By <a href="http://www.wecenter.com/?copyright" target="blank">WeCenter 3.5.1</a></span>
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?1a4884ec01ab4ea9a8280251bbd1a95d";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </div>
</div>
<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>
<!--底部公共注入钩子-->
<!--end底部公共注入钩子-->
<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>
<div style="display:none;" id="__crond">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/1598575905%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
        });
    </script>
</div>
<!-- Escape time: 0.079468011856079 --></body><!---->
</html>