<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="renderer" content="webkit" />
    <title>发现 - WeCenter仿知乎模板</title>
    <meta name="keywords" content="WeCenter3.31仿知乎模板" />
    <meta name="description" content="WeCenter仿知乎模板，支持WeCenter3.31，WeCenter3.32，WeCenter3.33"  />
    <base href="http://localhost:8088/springboot/" /><!--[if IE]></base><![endif]-->
    <link href="css/azhihu/img/favicon.ico?v=20200516" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/icon.css" />
    <link href="css/default/common.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="css/default/link.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="js/plug_module/style.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="css/azhihu/azhihu.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="js/highlight/styles/tomorrow.css">
    <script type="text/javascript">
        var _8636174409F417ACF47725DA9B2BBF64="481014e8501ec9b82c7742dec9eae023";
        var G_POST_HASH=_8636174409F417ACF47725DA9B2BBF64;
        var G_INDEX_SCRIPT = "?/";
        /*var G_SITE_NAME = "WeCenter仿知乎模板";*/
        var G_BASE_URL = "http://localhost:8088/springboot";
        /*var G_STATIC_URL = "http://azhihu.cssroom.com/static";
        var G_UPLOAD_URL = "http://azhihu.cssroom.com/uploads";*/
        var G_USER_ID = "106";
        var G_USER_NAME = "Artls";
        var G_UPLOAD_ENABLE = "N";
        var G_UNREAD_NOTIFICATION = 0;
        var G_NOTIFICATION_INTERVAL = 100000;
        var G_CAN_CREATE_TOPIC = "";
        var G_ADVANCED_EDITOR_ENABLE = "Y";
        var FILE_TYPES = "jpg,jpeg,png,gif,zip,doc,docx,rar,pdf,psd";
        var G_DRAFT_ENABLED = "N";
        var G_PER_PAGE = "10";
        var G_INDEX_PER_PAGE = "20";
        var G_PRIVATEKEY = "pvjxzjmzvewfscft";
        var G_IV = "qvibvaiwgouxwjeu";
        var G_QUICK_PUBLISH_HUMAN_VALID = "0";
        var editor_type="wangeditor";
    </script>
    <script src="js/jquery.2.js?v=20200516" type="text/javascript"></script>
    <script src="js/jquery.form.js?v=20200516" type="text/javascript"></script>
    <script src="js/plug_module/plug-in_module.js?v=20200516" type="text/javascript"></script>
    <script src="js/aws.js?v=20200516" type="text/javascript"></script>
    <script src="js/aw_template.js?v=20200516" type="text/javascript"></script>
    <script src="js/layer/layer.js?v=20200516" type="text/javascript"></script>
    <script src="js/app.js?v=20200516" type="text/javascript"></script>
    <script type="text/javascript" src="js/compatibility.js"></script>
    <script type="text/javascript" src="js/laydate/laydate.js"></script>
    <script type="text/javascript" src="js/slide_captcha/gt.js"></script>
    <script src="js/crypto-js.js"></script>
    <script src="js/highlight/highlight.pack.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    </script>
    <style type="text/css">
        .geetest_radar_tip_content{
            position: initial !important;
        }
    </style>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="js/respond.js"></script>
    <![endif]-->
    <!--头部公共注入钩子-->
    <!--end头部公共注入钩子-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="http://azhihu.cssroom.com/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<div class="aw-top-menu-wrap">
    <div class="container" style="padding-right:0px;">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="http://azhihu.cssroom.com">
                <img src="http://azhihu.cssroom.com/uploads/logo/20200525/logo_(1).png"  height="40">
            </a>
        </div>
        <!-- end logo -->
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button  class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{tb_Article/queryAll}"><i class=""></i> 首页</a>
                    </li>
                    <li>
                        <a th:href="@{tb_Topic/showColumn}"><i class=""></i> 专栏</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- end 导航 -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="http://azhihu.cssroom.com/?/search/" id="global_search_form" method="post">
                <label class="oldPwdTip aw-search-query-label" onclick="$(this).hide();$('#aw-search-query').focus();">搜索问题、话题或人...</label> 					<input class="form-control search-query" type="text" value=""  autocomplete="off" name="q" id="aw-search-query" onfocus="hideOldPwdTip('aw-search-query');" onblur="toggleOldPwdTip('aw-search-query',this.value);" />
                <span title="搜索" id="global_search_btns" onClick="$('#global_search_form').submit();"><i class="icon icon-search"></i></span>
                <div class="aw-dropdown">
                    <div class="mod-body">
                        <p class="title">输入关键字进行搜索</p>
                        <ul class="aw-dropdown-list collapse"></ul>
                        <p class="search"><span>搜索:</span><a onClick="$('#global_search_form').submit();"></a></p>
                    </div>
                    <div class="mod-footer">
                        <a href="javascript:;" onClick="$('#header_publish').click();" class="pull-right btn btn-mini btn-success publish">发起问题</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- end 搜索框 -->
        <!-- 发起 -->
        <div class="aw-publish-btn">
            <a id="header_publish" class="btn-primary" href="http://azhihu.cssroom.com/?/publish/" onclick="AWS.dialog('publish', {'category_enable':'0', 'category_id':'0', 'topic_title':''}); return false;">发起</a>
            <div class="dropdown-list pull-right">
                <ul>
                    <li>
                        <form method="post" action="http://azhihu.cssroom.com/?/publish/">
                            <a onclick="$(this).parents('form').submit();">问题</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end 发起 -->
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            <!--<a href="User/toOneHome" class="aw-user-nav-dropdown"></a>-->
                <img th:alt="${session.user.user_name}" th:src="${session.user.user_photo}" />

            <div class="aw-dropdown dropdown-list pull-right">
                <ul class="aw-dropdown-list">
                    <li class="hidden-xs"><a href="User/toOneHome"><i class="icon icon-draft"></i>
                        个人主页</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/inbox/"><i class="icon icon-inbox"></i> 私信<span class="badge badge-important collapse" id="inbox_unread">0</span></a></li>
                    <li class="hidden-xs"><a href="User/toChangePwd"><i class="icon icon-setting"></i> 设置</a></li>
                    <!-- <li id="changeSkin"><a href="javascript:void(0);"><i class="icon icon-skin"></i> 换肤</a></li> -->
                    <li><a href="L/exit"><i class="icon icon-logout"></i> 退出</a></li>
                </ul>
            </div>
            <!-- <div class="aw-dropdown dropdown-list pull-right" id="skinList" style="left: 100%;top:200%;display: none">
                <ul class="aw-dropdown-list">
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=common"><i class="icon icon-draft"></i> 默认&nbsp;&nbsp;√</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=green"><i class="icon icon-draft"></i> 绿色&nbsp;&nbsp;</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=orange"><i class="icon icon-draft"></i> 橙色&nbsp;&nbsp;</a></li>
                </ul>
            </div> -->
            <!-- end 登陆&注册栏 -->
        </div>
        <!-- end 用户栏 -->

    </div>
</div>

<script>
    $(function () {
        var $changeSkin = $("#changeSkin"), $skinList = $("#skinList");
        $changeSkin.mouseenter(function () {
            $skinList.stop(true,true).show();
        });
        $changeSkin.mouseleave(function (e) {
            $skinList.hide();
        });
        $skinList.mouseover(function () {
            $(this).stop(true,true).show();
        });
        $skinList.mouseleave(function (e) {
            $(this).hide();
        })
    })
</script>
<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="aw-main-content pull-left">
                    <!-- 新消息通知 -->
                    <div class="aw-mod aw-notification-box collapse" id="index_notification">
                        <div class="mod-head common-head">
                            <h2>
                                <span class="pull-right"><a href="http://azhihu.cssroom.com/?/account/setting/privacy/#notifications" class="text-color-999"><i class="icon icon-setting"></i> 通知设置</a></span>
                                <i class="icon icon-bell"></i>新通知<em class="badge badge-important" name="notification_unread_num">0</em>
                            </h2>
                        </div>
                        <div class="mod-body">
                            <ul id="notification_list"></ul>
                        </div>
                        <div class="mod-footer clearfix">
                            <a href="javascript:;" onclick="AWS.Message.read_notification(false, 0, false);" class="pull-left btn btn-mini btn-gray">我知道了</a>
                            <a href="http://azhihu.cssroom.com/?/notifications/" class="pull-right btn btn-mini btn-success">查看所有</a>
                        </div>
                    </div>
                    <!-- end 新消息通知 -->
                    <!-- tab切换 -->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li><a th:href="@{tb_issuser/queryIssueUser(user_id=${session.user.user_id})}">等待回复</a></li>
                        <li><a href="java:script:(0)">推荐</a></li>
                        <li><a th:href="@{tb_Issue/queryAll}">问题</a></li>
                        <li class="active"><a href="java:script:(0)">文章</a></li>
                        <h2 class="hidden-xs">主页·发现</h2>
                    </ul>
                    <!-- end tab切换 -->
                    <!-- 自定义tab切换 -->
                    <div class="aw-tabs">
                        <ul>
                            <li class="active"><a href="javascript:;">最新</a></li>
                            <li><a th:href="@{tb_Article/queryhot}">热门</a></li>
                        </ul>
                    </div>
                    <!-- end 自定义tab切换 -->

                    <!--<h4 th:each="a : ${art.list}">
                        <h4 th:text="${a.TbArticle}"></h4>
                    </h4>-->


                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list" th:each="item : ${art.list}">
                                <!--提问-->
                                <div class="aw-item article" data-topic-id="30,2,3,">
                                    <div class="aw-question-content">
                                        <h4>
                                            <a th:href="@{tb_Article/addcount(id=${item.TbArticle.article_id})}"><span th:text="${item.TbArticle.article_title}">身边的人是怎么靠生活经验赚钱的？</span></a>
                                        </h4>
                                        <p>
                                            <a href="java:script:(0)" class="aw-user-name" th:text="${item.TbArticle.TbUser.user_name}">
                                                <i class="icon icon-user"></i>豆豆龙
                                            </a>
                                            发表了文章
                                            <span><i class="icon icon-comment"></i><span th:text="${item.TbArticle.count}">4</span> 个评论</span>
                                            <span><i class="icon icon-preview"></i><span th:text="${item.TbArticle.article_count}">766</span> 次浏览</span>
                                            <span><i class="icon icon-date"></i><span th:text="${item.TbArticle.article_date}">2019-05-17 14:56</span></span>
                                            <span class="text-color-999 related-topic collapse"> 来自相关话题</span>
                                        </p>

                                        <!-- 文章内容调用    onclick="window.location.href='article/6'"-->
                                        <div class="markitup-box" style="cursor: pointer;">
                                            <div class="img pull-right"></div>
                                            <h2 th:utext="${item.TbArticle.article_content}"></h2>
                                        </div>
                                        <div class="collapse all-content" th:utext="${item.TbArticle.article_content}">
                                            <!--<img src="http://azhihu.cssroom.com/uploads/article/20190517/ce6b85e5d2c9bf215918c765f663ae3b.jpg?7411" />-->
                                            <!--<p>麻辣烫，手抓饼，奶茶店，买空卖空的淘宝包邮？你们的智商都去哪里了？没有智商了，那你们的生活经验去哪里了？</p>
                                            <p>以前的“我要当科学家”、“我要当老师”、“我要当工程师”、哪怕“我要当程序员”这些“梦想去哪里了”？ 君见几个卖麻辣烫，手抓饼和奶茶店的财务自由了。说不定好多场外开麻辣烫、手抓饼、奶茶店的人也正关注这个问题呢，密切的关注着有没有新的出路，脱离这起早贪黑、费力不赚钱，看不到希望的苦逼的麻辣烫，奶茶店。</p>
                                            <p>或许有一些做的很好的麻辣烫或者奶茶店，但是他们背后的苦和心酸绝不是一个“一杯奶茶的成本7分钱，而售价却在8块到15块不等”这样的计算能衡量的。每一门生意都不简单，都是整套的系统，产品设计与创新，推广营销，客户管理，客户服务，成本控制……能成就一个赚钱的生意，都是一整套的系统在天时地利人和的情况的偶然的必然，如果只是一句简单的计算能日进斗金，那请你出门左转然后自己去试试。
                                                <img src="/ueditor/php/upload/image/20190517/1558076175422458.png" title="1558076175422458.png" alt="image.png"/>
                                            </p>
                                            <p><br/></p>
                                            <p>这个问题下有很多回答的确让人眼前一亮耳目一新，隔行如隔山嘛，在这个问题下，我们可以看见好多其不起眼的行业的套路，但是请年轻的你，一定一定一定要有定力，不要被这些东西左右了自己的心智。360行，行行出状元，每个行业有每个行业的门道（套路），不要见到了别人的一些巧妙的门道（套路）就跨入这一行。</p>
                                            <p><br/></p>-->
                                        </div>
                                        <!-- end 文章内容调用 -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="page-control">
                                <ul class="pagination pull-right">
                                    <li th:if="${art.isLastPage}">
                                        <a th:href="@{tb_Article/queryAll(pageNum=${art.navigateFirstPage},pageSize=${art.pageSize})}">首页</a>
                                    </li>
                                    <li th:if="${art.prePage}">
                                        <a th:href="@{tb_Article/queryAll(pageNum=${art.pageNum-1},pageSize=${art.pageSize})}">上一页</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" th:text="${art.pageNum}">2</a>
                                    </li>
                                    <li th:if="${art.nextPage}">
                                        <a th:href="@{tb_Article/queryAll(pageNum=${art.pageNum+1},pageSize=${art.pageSize})}">下一页</a>
                                    </li>
                                    <li th:if="${art.isFirstPage}">
                                        <a th:href="@{tb_Article/queryAll(pageNum=${art.navigateLastPage},pageSize=${art.pageSize})}">尾页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 侧边栏 -->
                <div class="aw-side-bar pull-left">
                    <!--侧边栏插件-->
                    <div class="aw-mod write">
                        <div>
                            <a href="http://azhihu.cssroom.com/?/question/">
                                <i class="icon icon-reply"></i></br>
                                <span>写回答</span>
                            </a>
                        </div>
                        <div>
                            <a th:href="@{tb_Issue/w_i}">
                                <i class="icon icon-ask"></i></br>
                                <span>写问题</span>
                            </a>
                        </div>
                        <div>
                            <a th:href="@{tb_Article/w_a}">
                                <i class="icon icon-draft"></i></br>
                                <span>写文章</span>
                            </a>
                        </div>
                    </div>
                    <div class="aw-mod write">
                    <div>
                        <a th:href="@{tb_Topic/showColumn}">
                            <img src="http://azhihu.cssroom.com/static/css/azhihu/img/zlico.png"></br>
                            <span class="w_span">专栏</span>
                        </a>
                    </div>
                    <div>
                        <a th:href="@{tb_Issue/w_i}">
                            <img src="http://azhihu.cssroom.com/static/css/azhihu/img/wtico.png"></br>
                            <span class="w_span">问题</span>
                        </a>
                    </div>
                    <div>
                        <a th:href="@{tb_Article/w_a}">
                            <img src="http://azhihu.cssroom.com/static/css/azhihu/img/wzico.png"></br>
                            <span class="w_span">文章</span>
                        </a>
                    </div>
                </div>
                    <div class="sideAdd">
                        <a href="#"><img src="http://azhihu.cssroom.com/static/css/azhihu/img/side_add.jpg" alt=""></a>
                    </div>										<div class="aw-mod aw-text-align-justify">
                    <div class="mod-head">
                        <a href="http://azhihu.cssroom.com/?/topic/channel-hot" class="pull-right">更多话题 &gt;&gt;</a>
                        <h3>热门话题</h3>
                    </div>
                    <div class="mod-body">
                    </div>
                </div>
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <a href="http://azhihu.cssroom.com/?/people/" class="pull-right">更多用户 &gt;&gt;</a>
                            <h3>热门用户</h3>
                        </div>
                        <div class="mod-body">
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://azhihu.cssroom.com/?/people/105"><img alt="" src="http://azhihu.cssroom.com/uploads/avatar/000/00/01/05_avatar_mid.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://azhihu.cssroom.com/?/people/105" data-id="105" class="aw-user-name">你好						</a>
                                    <p class="signature"></p>
                                    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://azhihu.cssroom.com/?/people/101"><img alt="" src="http://azhihu.cssroom.com/uploads/avatar/000/00/01/01_avatar_mid.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://azhihu.cssroom.com/?/people/101" data-id="101" class="aw-user-name">1354996886qw						</a>
                                    <p class="signature"></p>
                                    <p><b>1</b> 个问题, <b>0</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://azhihu.cssroom.com/?/people/103"><img alt="" src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://azhihu.cssroom.com/?/people/103" data-id="103" class="aw-user-name">zs						</a>
                                    <p class="signature"></p>
                                    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://azhihu.cssroom.com/?/people/107"><img alt="" src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://azhihu.cssroom.com/?/people/107" data-id="107" class="aw-user-name">123aa						</a>
                                    <p class="signature"></p>
                                    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://azhihu.cssroom.com/?/people/104"><img alt="" src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://azhihu.cssroom.com/?/people/104" data-id="104" class="aw-user-name">1111ded						</a>
                                    <p class="signature"></p>
                                    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
                                </dd>
                            </dl>
                        </div>
                    </div>									</div>
                <!-- 侧边栏end -->
            </div>
        </div>
    </div>
</div>
<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2020, All Rights Reserved</span>
        <span class="hidden-xs">Powered By <a href="http://www.wecenter.com/?copyright" target="blank">WeCenter 3.5.1</a></span>
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?1a4884ec01ab4ea9a8280251bbd1a95d";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </div>
</div>
<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>
<!--底部公共注入钩子-->
<!--end底部公共注入钩子-->
<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>
<div style="display:none;" id="__crond">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/1598575905%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
        });
    </script>
</div>
<!-- Escape time: 0.079468011856079 --></body>
</html>