<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Knowledge Base Theme</title>

    <link rel="shortcut icon" href="images/favicon.png" />

    <!-- Style Sheet-->
    <link rel='stylesheet' id='bootstrap-css-css'  href='css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css'  href='css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css'  href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css'  href='css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css'  href='css/custom5152.html?ver=1.0' type='text/css' media='all' />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script></script>
    <![endif]-->
</head>
<body>

<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">
            <div class="logo-container">
                <!-- Website Logo -->
                <a href="index-2.html"  title="Knowledge Base Theme">
                    <img src="images/logo.png" alt="Knowledge Base Theme">
                </a>
                <span class="tag-line">Premium WordPress Theme</span>
            </div>
            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li  class="current-menu-item"><a href="articles-list.html">首页</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                        <li><a href="#">More</a>
                            <ul class="sub-menu">
                                <li><a href="full-width.html">Full Width</a></li>
                                <li><a href="elements.html">Elements</a></li>
                                <li><a href="page.html">Sample Page</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <!-- End of Main Navigation -->
        </div>
    </header>
</div>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">有一个问题?</h3>
        <p class="search-tag-line">如果您有任何疑问，可以在下面询问或输入您要寻找的！</p>

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="请在此处输入搜索词!" title="* Please enter a search term!" />
            <input class="search-btn" type="submit" value="" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>
<!-- End of Search Wrapper -->

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <div class="span9 main-listing">
                <iframe src="recommend.html" name="myframe" width="100%" height="16000px" scrolling="No" frameborder="0" id="myframe" border="0" >

                </iframe>
            </div>
            <!-- start of sidebar -->
            <div class="span3 page-sidebar">
                <aside >
                    <section class="widget">
                        <h3 class="title">Featured Articles</h3>
                        <ul class="articles">
                            <li class="article-entry standard">
                                <h4><a href="single.html">回答问题</a></h4>
                                <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
                                <span class="like-count">7</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="single.html">写文章</a></h4>
                                <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                <span class="like-count">7</span>
                            </li>
                            <li class="article-entry video">
                                <h4><a href="single.html">写想法</a></h4>
                                <span class="article-meta">23 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                <span class="like-count">7</span>
                            </li>
                            <li class="article-entry image">
                                <h4><a href="single.html">WordPress in Your Language</a></h4>
                                <span class="article-meta">22 Feb, 2013 in <a href="#" title="View all posts in Advanced Techniques">Advanced Techniques</a></span>
                                <span class="like-count">7</span>
                            </li>
                        </ul>
                    </section>

                    <section class="widget"><h3 class="title">Categories</h3>
                        <ul>
                            <li>
                                <a href="#">我的收藏</a>
                            </li>
                            <li><a href="#">我关注的问题</a></li>
                            <li><a href="#">我的邀请</a></li>
                            <li><a href="#">我的余额</a></li>
                            <li><a href="#">站务中心</a></li>
                            <li><a href="#">帮助中心</a></li>
                        </ul>
                    </section>

                    <section class="widget">
                        <h3 class="title">Recent Comments</h3>
                        <ul id="recentcomments">
                            <li class="recentcomments"><a href="#" rel="external nofollow" class="url">John Doe</a> on <a href="#">Integrating WordPress with Your Website</a></li>
                            <li class="recentcomments">saqib sarwar on <a href="#">Integrating WordPress with Your Website</a></li>
                            <li class="recentcomments"><a href="#" rel="external nofollow" class="url">John Doe</a> on <a href="#">Integrating WordPress with Your Website</a></li>
                            <li class="recentcomments"><a href="#" rel="external nofollow" class="url">Mr WordPress</a> on <a href="#">Installing WordPress</a></li>
                        </ul>
                    </section>
                </aside>
            </div>
            <!-- end of sidebar -->
        </div>
    </div>
</div>


<!-- End of Page Container -->
<a href="#top" id="scroll-top"></a>

<!-- script -->
<script type='text/javascript' src='js/jquery-1.8.3.min.js'></script>
<script type='text/javascript' src='js/jquery.easing.1.34e44.js?ver=1.3'></script>
<script type='text/javascript' src='js/prettyphoto/jquery.prettyPhotoaeb9.js?ver=3.1.4'></script>
<script type='text/javascript' src='js/jquery.liveSearchd5f7.js?ver=2.0'></script>
<script type='text/javascript' src='js/jflickrfeed.js'></script>
<script type='text/javascript' src='js/jquery.formd471.js?ver=3.18'></script>
<script type='text/javascript' src='js/jquery.validate.minfc6b.js?ver=1.10.0'></script>
<script type='text/javascript' src='js/custom5152.js?ver=1.0'></script>

</body>
</html>
