<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="renderer" content="webkit" />
    <title>发现 - WeCenter仿知乎模板</title>
    <meta name="keywords" content="WeCenter3.31仿知乎模板" />
    <meta name="description" content="WeCenter仿知乎模板，支持WeCenter3.31，WeCenter3.32，WeCenter3.33"  />
    <base href="http://localhost:8088/springboot/" /><!--[if IE]></base><![endif]-->
    <link href="css/azhihu/img/favicon.ico?v=20200516" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/icon.css" />
    <link href="css/default/common.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="css/default/link.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="js/plug_module/style.css?v=20200516" rel="stylesheet" type="text/css" />
    <link href="css/azhihu/azhihu.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="js/highlight/styles/tomorrow.css">
    <script type="text/javascript">
        var _8636174409F417ACF47725DA9B2BBF64="481014e8501ec9b82c7742dec9eae023";
        var G_POST_HASH=_8636174409F417ACF47725DA9B2BBF64;
        var G_INDEX_SCRIPT = "?/";
        /*var G_SITE_NAME = "WeCenter仿知乎模板";*/
        var G_BASE_URL = "http://localhost:8088/springboot";
        /*var G_STATIC_URL = "http://azhihu.cssroom.com/static";
        var G_UPLOAD_URL = "http://azhihu.cssroom.com/uploads";*/
        var G_USER_ID = "106";
        var G_USER_NAME = "Artls";
        var G_UPLOAD_ENABLE = "N";
        var G_UNREAD_NOTIFICATION = 0;
        var G_NOTIFICATION_INTERVAL = 100000;
        var G_CAN_CREATE_TOPIC = "";
        var G_ADVANCED_EDITOR_ENABLE = "Y";
        var FILE_TYPES = "jpg,jpeg,png,gif,zip,doc,docx,rar,pdf,psd";
        var G_DRAFT_ENABLED = "N";
        var G_PER_PAGE = "10";
        var G_INDEX_PER_PAGE = "20";
        var G_PRIVATEKEY = "pvjxzjmzvewfscft";
        var G_IV = "qvibvaiwgouxwjeu";
        var G_QUICK_PUBLISH_HUMAN_VALID = "0";
        var editor_type="wangeditor";
    </script>
    <script src="js/jquery.2.js?v=20200516" type="text/javascript"></script>
    <script src="js/jquery.form.js?v=20200516" type="text/javascript"></script>
    <script src="js/plug_module/plug-in_module.js?v=20200516" type="text/javascript"></script>
    <script src="js/aws.js?v=20200516" type="text/javascript"></script>
    <script src="js/aw_template.js?v=20200516" type="text/javascript"></script>
    <script src="js/layer/layer.js?v=20200516" type="text/javascript"></script>
    <script src="js/app.js?v=20200516" type="text/javascript"></script>
    <script type="text/javascript" src="js/compatibility.js"></script>
    <script type="text/javascript" src="js/laydate/laydate.js"></script>
    <script type="text/javascript" src="js/slide_captcha/gt.js"></script>
    <script src="js/crypto-js.js"></script>
    <script src="js/highlight/highlight.pack.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre').forEach((block) => {
                hljs.highlightBlock(block);
        });
        });
    </script>
    <style type="text/css">
        .geetest_radar_tip_content{
            position: initial !important;
        }
    </style>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="js/respond.js"></script>
    <![endif]-->
    <!--头部公共注入钩子-->
    <!--end头部公共注入钩子-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="http://azhihu.cssroom.com/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript><body>
<div class="aw-top-menu-wrap">
    <div class="container" style="padding-right:0px;">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="http://azhihu.cssroom.com">
                <img src="http://azhihu.cssroom.com/uploads/logo/20200525/logo_(1).png"  height="40">
            </a>
        </div>
        <!-- end logo -->
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button  class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{tb_Article/queryAll}"><i class=""></i> 首页</a>
                    </li>
                    <li>
                        <a th:href="@{tb_Topic/showColumn}"><i class=""></i> 专栏</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- end 导航 -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="http://azhihu.cssroom.com/?/search/" id="global_search_form" method="post">
                <label class="oldPwdTip aw-search-query-label" onclick="$(this).hide();$('#aw-search-query').focus();">搜索问题、话题或人...</label> 					<input class="form-control search-query" type="text" value=""  autocomplete="off" name="q" id="aw-search-query" onfocus="hideOldPwdTip('aw-search-query');" onblur="toggleOldPwdTip('aw-search-query',this.value);" />
                <span title="搜索" id="global_search_btns" onClick="$('#global_search_form').submit();"><i class="icon icon-search"></i></span>
                <div class="aw-dropdown">
                    <div class="mod-body">
                        <p class="title">输入关键字进行搜索</p>
                        <ul class="aw-dropdown-list collapse"></ul>
                        <p class="search"><span>搜索:</span><a onClick="$('#global_search_form').submit();"></a></p>
                    </div>
                    <div class="mod-footer">
                        <a href="javascript:;" onClick="$('#header_publish').click();" class="pull-right btn btn-mini btn-success publish">发起问题</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- end 搜索框 -->
        <!-- 发起 -->
        <div class="aw-publish-btn">
            <a id="header_publish" class="btn-primary" href="http://azhihu.cssroom.com/?/publish/" onclick="AWS.dialog('publish', {'category_enable':'0', 'category_id':'0', 'topic_title':''}); return false;">发起</a>
            <div class="dropdown-list pull-right">
                <ul>
                    <li>
                        <form method="post" action="http://azhihu.cssroom.com/?/publish/">
                            <a onclick="$(this).parents('form').submit();">问题</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end 发起 -->
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            <!--<a href="User/toOneHome" class="aw-user-nav-dropdown"></a>-->
            <img th:alt="${session.user.user_name}" th:src="${session.user.user_photo}" />

            <div class="aw-dropdown dropdown-list pull-right">
                <ul class="aw-dropdown-list">
                    <li class="hidden-xs"><a href="User/toOneHome"><i class="icon icon-draft"></i>
                        个人主页</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/inbox/"><i class="icon icon-inbox"></i> 私信<span class="badge badge-important collapse" id="inbox_unread">0</span></a></li>
                    <li class="hidden-xs"><a href="http://azhihu.cssroom.com/?/account/setting/profile/"><i class="icon icon-setting"></i> 设置</a></li>
                    <!-- <li id="changeSkin"><a href="javascript:void(0);"><i class="icon icon-skin"></i> 换肤</a></li> -->
                    <li><a href="L/exit"><i class="icon icon-logout"></i> 退出</a></li>
                </ul>
            </div>
            <!-- <div class="aw-dropdown dropdown-list pull-right" id="skinList" style="left: 100%;top:200%;display: none">
                <ul class="aw-dropdown-list">
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=common"><i class="icon icon-draft"></i> 默认&nbsp;&nbsp;√</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=green"><i class="icon icon-draft"></i> 绿色&nbsp;&nbsp;</a></li>
                    <li><a href="http://azhihu.cssroom.com/?/account/change_skin/?type=orange"><i class="icon icon-draft"></i> 橙色&nbsp;&nbsp;</a></li>
                </ul>
            </div> -->
            <!-- end 登陆&注册栏 -->
        </div>
        <!-- end 用户栏 -->

    </div>
</div>

<script>
    $(function () {
        var $changeSkin = $("#changeSkin"), $skinList = $("#skinList");
        $changeSkin.mouseenter(function () {
            $skinList.stop(true,true).show();
        });
        $changeSkin.mouseleave(function (e) {
            $skinList.hide();
        });
        $skinList.mouseover(function () {
            $(this).stop(true,true).show();
        });
        $skinList.mouseleave(function (e) {
            $(this).hide();
        })
    })
</script>

<!--<h4 th:each="iss : ${tbIssueUsers}">
    <h4 th:text="${iss}"></h4>
</h4>-->

<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="aw-main-content pull-left">
                    <!-- tab切换 -->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li class="active"><a href="java:script:(0)">等待回复</a></li>
                        <li><a href="java:script:(0)">推荐</a></li>
                        <li><a th:href="@{tb_Issue/queryAll}">问题</a></li>
                        <li><a th:href="@{tb_Article/queryAll}">文章</a></li>
                        <h2 class="hidden-xs">主页·发现</h2>
                    </ul>
                    <!-- end tab切换 -->

                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list">

                                <div id="div1" th:fragment="div1">
                                    <div class="aw-item active" data-topic-id="" th:each="iss : ${tbIssueUsers}">
                                        <!-- <a class="aw-user-name hidden-xs" data-id="2" href="http://azhihu.cssroom.com/?/people/2" rel="nofollow"><img src="http://azhihu.cssroom.com/uploads/avatar/000/00/00/02_avatar_max.jpg" alt="" /></a> -->
                                        <div class="aw-question-content">

                                            <a class="pull-right text-color-999" th:onclick="del([[${iss.TbIssue.issue_id}]])"><i class="icon icon-delete"></i></a>
                                            <script type="text/javascript" th:inline="javascript">
                                                function del(issue_id){
                                                    var user_id = [[${session.user.user_id}]];
                                                    $.ajax({
                                                        type:"post",
                                                        url:"tb_issuser/removeIssue",
                                                        data:{"user_id":user_id,"issue_id":issue_id},
                                                        success:function(date){
                                                            $("#div1").html(date);
                                                        }
                                                    })
                                                }
                                            </script>
                                            <h4>
                                                <a th:href="@{tb_Issue/addcount(id=${iss.TbIssue.issue_id})}" th:text="${iss.TbIssue.issue_title}">和女生聊天，哪些话题百试不爽？</a>
                                            </h4>
                                                <a th:href="@{tb_Issue/addcount(id=${iss.TbIssue.issue_id})}" class="pull-right text-color-999">回复</a>

                                            <p>
                                                <a href="http://azhihu.cssroom.com/?/people/2" class="aw-user-name">
                                                    <i class="icon icon-user"></i>
                                                    [[${iss.TbIssue.TbUser.user_name}]]
                                                </a>
                                                发起了问题
                                                <span><i class="icon icon-comment"></i>[[${iss.TbIssue.count}]] 个回复</span>
                                                <span><i class="icon icon-preview"></i>[[${iss.TbIssue.issue_count}]] 次浏览</span>
                                                <span><i class="icon icon-date"></i>[[${iss.TbIssue.issue_date}]]</span>
                                                </span>
                                            </p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mod-footer">
                        </div>
                    </div>
                </div>

                <!-- 侧边栏 -->
                <div class="aw-side-bar pull-left">
                    <!--侧边栏插件-->
                    <div class="aw-mod write">
                        <div>
                            <a href="http://azhihu.cssroom.com/?/question/">
                                <i class="icon icon-reply"></i></br>
                                <span>写回答</span>
                            </a>
                        </div>
                        <div>
                            <a th:href="@{tb_Issue/w_i}">
                                <i class="icon icon-ask"></i></br>
                                <span>写问题</span>
                            </a>
                        </div>
                        <div>
                            <a th:href="@{tb_Article/w_a}">
                                <i class="icon icon-draft"></i></br>
                                <span>写文章</span>
                            </a>
                        </div>
                    </div>					<div class="aw-mod write">
                    <div>
                        <a th:href="@{tb_Topic/showColumn}">
                            <img src="http://azhihu.cssroom.com/static/css/azhihu/img/zlico.png"></br>
                            <span class="w_span">专栏</span>
                        </a>
                    </div>
                    <div>
                        <a th:href="@{tb_Issue/w_i}">
                            <img src="http://azhihu.cssroom.com/static/css/azhihu/img/wtico.png"></br>
                            <span class="w_span">问题</span>
                        </a>
                    </div>
                    <div>
                        <a th:href="@{tb_Article/w_a}">
                            <img src="http://azhihu.cssroom.com/static/css/azhihu/img/wzico.png"></br>
                            <span class="w_span">文章</span>
                        </a>
                    </div>
                </div>
                    <div class="sideAdd">
                        <a href="#"><img src="http://azhihu.cssroom.com/static/css/azhihu/img/side_add.jpg" alt=""></a>
                    </div>										<div class="aw-mod aw-text-align-justify">
                    <div class="mod-head">
                        <a href="http://azhihu.cssroom.com/?/topic/channel-hot" class="pull-right">更多话题 &gt;&gt;</a>
                        <h3>热门话题</h3>
                    </div>
                    <div class="mod-body">
                    </div>
                </div>
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <a href="http://azhihu.cssroom.com/?/people/" class="pull-right">更多用户 &gt;&gt;</a>
                            <h3>热门用户</h3>
                        </div>
                        <div class="mod-body">
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://azhihu.cssroom.com/?/people/105"><img alt="" src="http://azhihu.cssroom.com/uploads/avatar/000/00/01/05_avatar_mid.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://azhihu.cssroom.com/?/people/105" data-id="105" class="aw-user-name">你好						</a>
                                    <p class="signature"></p>
                                    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://azhihu.cssroom.com/?/people/101"><img alt="" src="http://azhihu.cssroom.com/uploads/avatar/000/00/01/01_avatar_mid.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://azhihu.cssroom.com/?/people/101" data-id="101" class="aw-user-name">1354996886qw						</a>
                                    <p class="signature"></p>
                                    <p><b>1</b> 个问题, <b>0</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://azhihu.cssroom.com/?/people/103"><img alt="" src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://azhihu.cssroom.com/?/people/103" data-id="103" class="aw-user-name">zs						</a>
                                    <p class="signature"></p>
                                    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://azhihu.cssroom.com/?/people/107"><img alt="" src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://azhihu.cssroom.com/?/people/107" data-id="107" class="aw-user-name">123aa						</a>
                                    <p class="signature"></p>
                                    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://azhihu.cssroom.com/?/people/104"><img alt="" src="http://azhihu.cssroom.com/static/common/avatar-mid-img.png" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://azhihu.cssroom.com/?/people/104" data-id="104" class="aw-user-name">1111ded						</a>
                                    <p class="signature"></p>
                                    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
                                </dd>
                            </dl>
                        </div>
                    </div>									</div>
                <!-- 侧边栏end -->
            </div>
        </div>
    </div>
</div>
</body>
</html>