<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbArticleGambitMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbArticleGambit">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="article_id" jdbcType="INTEGER" property="article_id" />
    <result column="gambit_id" jdbcType="INTEGER" property="gambit_id" />
  </resultMap>
  <sql id="selectAll">
    article_id,gambit_id
  </sql>
</mapper>