<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbAttentionMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbAttention">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="attention_id" jdbcType="INTEGER" property="attention_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="user_idl" jdbcType="INTEGER" property="user_idl" />
  </resultMap>
</mapper>