<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbCollectMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbCollect">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="collect_id" jdbcType="INTEGER" property="collect_id" />
    <result column="collect_title" jdbcType="VARCHAR" property="collect_title" />
    <result column="collect_describe" jdbcType="VARCHAR" property="collect_describe" />
    <result column="collect_state" jdbcType="INTEGER" property="collect_state" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
  </resultMap>
  <sql id="selectAll">
    collect_id,collect_title,collect_describe,collect_state,user_id
  </sql>
</mapper>