<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbCommentMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbComment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="comment_date" jdbcType="TIMESTAMP" property="commentDate" />
  </resultMap>
</mapper>