<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbCommentMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbComment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="comment_id" jdbcType="INTEGER" property="comment_id" />
    <result column="comment_content" jdbcType="VARCHAR" property="comment_content" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="comment_date" jdbcType="VARCHAR" property="comment_date" />
    <result column="article_id" jdbcType="INTEGER" property="article_id" />
    <result column="comment_count" jdbcType="INTEGER" property="comment_count" />
    <association property="tbUser" column="user_id" javaType="com.aaa.entity.TbUser" autoMapping="true">
      <id column="user_id" property="user_id" />
    </association>
    <!--<association property="tbArticle" column="article_id" javaType="com.aaa.entity.TbArticle" autoMapping="true">
      <id column="article_id" property="article_id" />
    </association>-->
  </resultMap>
</mapper>