<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbGambitMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbGambit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="gambit_id" jdbcType="INTEGER" property="gambit_id" />
    <result column="gambit_name" jdbcType="VARCHAR" property="gambit_name" />
  </resultMap>
  <sql id="selectAll">
    gambit_id,gambit_name
  </sql>
</mapper>