<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbIdeaMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbIdea">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="idea_id" jdbcType="INTEGER" property="idea_id" />
    <result column="idea_content" jdbcType="VARCHAR" property="idea_content" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="idea_date" jdbcType="TIMESTAMP" property="idea_date" />
  </resultMap>
  <sql id="selectAll">
    idea_id,idea_content,user_id,idea_date
  </sql>
</mapper>