<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbIssueMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbIssue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="issue_id" jdbcType="INTEGER" property="issueId" />
    <result column="issue_title" jdbcType="VARCHAR" property="issueTitle" />
    <result column="issue_content" jdbcType="VARCHAR" property="issueContent" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>