<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbPowerMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbPower">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="power_id" jdbcType="INTEGER" property="power_id" />
    <result column="power_name" jdbcType="VARCHAR" property="power_name" />
    <result column="power_url" jdbcType="VARCHAR" property="power_url" />
  </resultMap>
  <sql id="selectAll">
    power_id,power_name,power_url
  </sql>
</mapper>