<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbReportMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbReport">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="report_id" jdbcType="INTEGER" property="report_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="report_data" jdbcType="TIMESTAMP" property="report_data" />
    <result column="report_content" jdbcType="VARCHAR" property="report_content" />
    <result column="issue_id" jdbcType="INTEGER" property="issue_id" />
    <result column="article_id" jdbcType="INTEGER" property="article_id" />
    <result column="comment_id" jdbcType="INTEGER" property="comment_id" />
    <result column="reply_id" jdbcType="INTEGER" property="reply_id" />
  </resultMap>
</mapper>