<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbStaffMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbStaff">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="staff_id" jdbcType="INTEGER" property="staff_id" />
    <result column="staff_name" jdbcType="VARCHAR" property="staff_name" />
    <result column="staff_number" jdbcType="VARCHAR" property="staff_number" />
    <result column="staff_pwd" jdbcType="VARCHAR" property="staff_pwd" />
    <result column="staff_sex" jdbcType="INTEGER" property="staff_sex" />
    <result column="staff_idcard" jdbcType="VARCHAR" property="staff_idcard" />
    <result column="staff_phone" jdbcType="VARCHAR" property="staff_phone" />
    <result column="staff_in" jdbcType="TIMESTAMP" property="staff_in" />
    <result column="staff_out" jdbcType="TIMESTAMP" property="staff_out" />
    <result column="staff_state" jdbcType="INTEGER" property="staff_state" />
    <result column="role_id" jdbcType="INTEGER" property="role_id" />
    <result column="user_isexpired" jdbcType="INTEGER" property="user_isexpired" />
    <result column="user_islocked" jdbcType="INTEGER" property="user_islocked" />
    <result column="user_isCreExpired" jdbcType="INTEGER" property="user_isCreExpired" />
    <result column="user_isenable" jdbcType="INTEGER" property="user_isenable" />

    <association property="tbRole" column="role_id" javaType="com.aaa.entity.TbRole" autoMapping="true">
      <id property="role_id" column="role_id"></id>
      <result property="role_name" column="role_name"></result>
    </association>
  </resultMap>



  <sql id="save">
    staff_name,staff_number,staff_pwd,staff_sex,staff_idcard,staff_phone,role_id
  </sql>
  <!-- 关联role表查询-->
  <select id="queryStallAndRole" resultMap="BaseResultMap">
    select * from tb_staff s LEFT JOIN tb_role r on s.role_id=r.role_id
     <where>
       staff_state=0
       <if test="staff_name !='undefined' and staff_name != '' and staff_name != null ">
         and staff_name like CONCAT("%", #{staff_name}, "%")
       </if>
     </where>
      ORDER BY s.staff_id desc
  </select>

 <!-- <select id="queryStallAndRole" resultMap="BaseResultMap">
    select * from tb_staff s LEFT JOIN tb_role r on s.role_id=r.role_id where staff_state=0 ORDER BY s.staff_id desc
  </select>
-->
  <insert id="add" parameterType="com.aaa.entity.TbStaff">
    insert into tb_staff(<include refid="save"/>)
    values(#{staff_name},#{staff_number},#{staff_pwd},#{staff_sex},#{staff_idcard},#{staff_phone},#{role_id})
  </insert>
  
  <update id="update" parameterType="com.aaa.entity.TbStaff">
    update tb_staff set staff_name=#{staff_name},staff_number=#{staff_number},staff_pwd=#{staff_pwd},staff_sex=#{staff_sex},staff_idcard=#{staff_idcard},staff_phone=#{staff_phone},role_id=#{role_id} where staff_id=#{staff_id}
  </update>

  <update id="upState" parameterType="com.aaa.entity.TbStaff">
    update tb_staff set staff_state=1 where staff_id=#{staff_id}
  </update>

  <!--分页-->
  <select id="selePage" resultMap="BaseResultMap">
    select * from tb_staff s LEFT JOIN tb_role r on s.role_id=r.role_id where staff_state=0  ORDER BY s.staff_id desc  limit pageNum=#{pageNum},pageSize=#{pageSize}
  </select>

  <!--staff_name like "%"#{staff_name}"%"-->
  <!--<select id="seleSeche" resultMap="BaseResultMap">
    select * from tb_staff s LEFT JOIN tb_role r on s.role_id=r.role_id
     <where>
       staff_state=0
       <if test="staff_name !='undefined' and staff_name != '' and staff_name != null ">
        and staff_name like CONCAT("%", #{staff_name}, "%")
       </if>
     </where>
      ORDER BY s.staff_id desc
  </select>-->

  <!--<select id="seleSeche" resultMap="BaseResultMap">
    select * from tb_staff s LEFT JOIN tb_role r on s.role_id=r.role_id where staff_state=0 and staff_name like "%"#{staff_name}"%" ORDER BY s.staff_id desc
  </select>-->
</mapper>