<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbTopicMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbTopic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="topic_id" jdbcType="INTEGER" property="topic_id" />
    <result column="topic_name" jdbcType="VARCHAR" property="topic_name" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="topic_date" jdbcType="VARCHAR" property="topic_date" />
    <result column="topic_count" jdbcType="INTEGER" property="topic_count" />
    <result column="count" jdbcType="INTEGER" property="count" />

    <association property="tbArticleTopic" column="topic_id" javaType="com.aaa.entity.TbArticleTopic">
      <id column="topic_id" property="topic_id"></id>
    </association>
    <collection property="tbUser" column="user_id" ofType="com.aaa.entity.TbUser" autoMapping="true">
      <id column="user_id" property="user_id"></id>
    </collection>

    <collection property="tbArticle" column="user_id" ofType="com.aaa.entity.TbArticle" autoMapping="true">
      <id column="article_id" property="article_id"></id>
    </collection>

    <collection property="tbTopicUser" column="topic_id" ofType="com.aaa.entity.TbTopicUser" autoMapping="true">
      <id column="topic_id" property="topic_id"></id>
    </collection>

<!--    <collection property="tbArticleTopic" column="topic_id" ofType="com.aaa.entity.TbArticleTopic" autoMapping="true">
      <id column="topic_id" property="topic_id"></id>
    </collection>-->

  </resultMap>

<!--  <select id="queryAll" resultMap="BaseResultMap">
    SELECT * from tb_topic LEFT JOIN tb_user on tb_topic.user_id=tb_user.user_id LEFT JOIN tb_topic_user on tb_topic_user.topic_id=tb_topic.topic_id LEFT JOIN tb_user t1 on  t1.user_id=tb_topic_user.user_id
LEFT JOIN tb_article_topic on tb_topic.topic_id=tb_article_topic.topic_id LEFT JOIN tb_article on tb_article.article_id=tb_article_topic.article_id
    <where>
      /*tb_article.article_title is not null*/
      1=1
      <if test="topic_id != null and topic_id != '' ">
     and tb_topic.topic_id=#{topic_id}
      </if>
      <if test="topic_name != 'undefined' and topic_name != null and topic_name != '' ">
        and topic_name like CONCAT("%", #{topic_name}, "%")
      </if>
    </where>
    ORDER BY tb_topic.topic_id DESC
  </select>-->


    <select id="queryAll" resultMap="BaseResultMap">
        select * from tb_topic LEFT JOIN tb_article_topic on tb_topic.topic_id=tb_article_topic.topic_id LEFT JOIN tb_article on tb_article_topic.article_id=tb_article.article_id
LEFT JOIN tb_user on tb_topic.user_id=tb_user.user_id
        <where>
            /*tb_article.article_title is not null*/
            1=1
            <if test="topic_id != null and topic_id != '' ">
                and tb_topic.topic_id=#{topic_id}
            </if>
            <if test="topic_name != 'undefined' and topic_name != null and topic_name != '' ">
                and topic_name like CONCAT("%", #{topic_name}, "%")
            </if>
        </where>
ORDER BY tb_topic.topic_id DESC
    </select>

    <select id="queryTopic" resultMap="BaseResultMap">
      SELECT t.*,u.* FROM tb_topic t LEFT JOIN tb_user u on u.user_id=t.user_id ORDER BY RAND() LIMIT 4;
    </select>

  <select id="queryhot" resultMap="BaseResultMap">
      SELECT t.*,u.* FROM tb_topic t LEFT JOIN tb_user u on u.user_id=t.user_id ORDER BY t.topic_count desc LIMIT 4;
  </select>

  <select id="querydate" resultMap="BaseResultMap">
      SELECT t.*,u.* FROM tb_topic t LEFT JOIN tb_user u on u.user_id=t.user_id ORDER BY t.topic_date desc LIMIT 4;
  </select>
</mapper>