<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.TbUserMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.TbUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="user_photo" jdbcType="VARCHAR" property="user_photo" />
    <result column="user_backdrop" jdbcType="VARCHAR" property="user_backdrop" />
    <result column="user_phone" jdbcType="VARCHAR" property="user_phone" />
    <result column="user_email" jdbcType="VARCHAR" property="user_email" />
    <result column="user_pwd" jdbcType="VARCHAR" property="user_pwd" />
    <result column="user_sex" jdbcType="INTEGER" property="user_sex" />
    <result column="user_sign" jdbcType="VARCHAR" property="user_sign" />
    <result column="user_residence" jdbcType="VARCHAR" property="user_residence" />
    <result column="user_trade" jdbcType="VARCHAR" property="user_trade" />
    <result column="user_brief" jdbcType="VARCHAR" property="user_brief" />
    <result column="user_balance" jdbcType="DOUBLE" property="user_balance" />
    <result column="user_count" jdbcType="INTEGER" property="user_count" />
    <result column="user_joindate" jdbcType="TIMESTAMP" property="user_joindate" />
    <result column="user_state" jdbcType="INTEGER" property="user_state" />

    <association property="tbTrade" column="user_trade" javaType="com.aaa.entity.TbTrade" autoMapping="true">
      <id column="trade_id" property="trade_id"></id>
    </association>

    <collection property="tbTopicUser" column="topic_id" ofType="com.aaa.entity.TbTopicUser" autoMapping="true">
      <id column="topic_id" property="topic_id"></id>
    </collection>


  </resultMap>

  <sql id="add">
    user_name,user_photo,user_phone,user_pwd,user_email,user_sign,user_sex,user_brief,user_trade
  </sql>
  <!-- 查询被谁关注-->
  <select id="queryAttentionUser" resultMap="BaseResultMap">
    select * from tb_user where user_id In(select user_id from tb_attention where user_idl=#{user_id})
  </select>
  <!-- 查询关注的人-->
  <select id="queryUserAttention" resultMap="BaseResultMap">
    select * from tb_user where user_id In(select user_idl from tb_attention where user_id=#{user_id})
  </select>


  <select id="userAndTradeQueryAll" resultMap="BaseResultMap">
    select * from tb_user u LEFT JOIN tb_trade t on u.user_trade=t.trade_id
    <where>
      <if test="user_name != 'undefined' and user_name!=null and user_name != ''">
        u.user_name like CONCAT("%", #{user_name}, "%")
      </if>
    </where>
    ORDER BY u.user_id desc
  </select>


  <insert id="add" parameterType="com.aaa.entity.TbUser">
    insert into tb_user(<include refid="add"/>) values(#{user_name},#{user_photo},#{user_phone},#{user_pwd},#{user_email},#{user_sign},#{user_sex},#{user_brief},#{user_trade})
  </insert>

  <!-- 修改状态 正常 封禁-->
  <update id="upState" parameterType="com.aaa.entity.TbUser">
    update tb_user set
     <if test="user_state==0">
       user_state=1
     </if>
    <if test="user_state==1">
      user_state=0
    </if>
     where user_id=#{user_id}
  </update>
</mapper>